#et-boc {
    color: #222222;
    background-color: white;
}

.apzumi_page_link .link-text:after, .apzumi_button .link-container:hover .link-text:after {
    content: url("../img/right-arrow.svg");
    width: 24px;
    height: 24px;
    float: right;
}

.apzumi_button .link-text:after {
    content: url("../img/Right-arrow-white.svg");
    width: 24px;
    height: 24px;
    float: right;
}

.specialty-heading img {
    margin-right: 32px !important;
}

.clutch-widget {
    float: right;
}

@media screen and (max-width: 991px) {
    #et-boc h1, #et-boc h2, #et-boc h3, #et-boc h4, #et-boc p {
        max-width: 100% !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
}

@media screen and (max-width: 767px) {
    .clutch-widget {
        float: none;
    }
}