/*! HTML5 Boilerplate v5.2.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
/* BEGIN Light */
@font-face {
    font-family: 'Open Sans';
    src: url("../fonts/Light/OpenSans-Light.eot?v=1.1.0");
    src: url("../fonts/Light/OpenSans-Light.eot?#iefix&v=1.1.0") format("embedded-opentype"), url("../fonts/Light/OpenSans-Light.woff2?v=1.1.0") format("woff2"), url("../fonts/Light/OpenSans-Light.woff?v=1.1.0") format("woff"), url("../fonts/Light/OpenSans-Light.ttf?v=1.1.0") format("truetype"), url("../fonts/Light/OpenSans-Light.svg?v=1.1.0#Light") format("svg");
    font-weight: 300;
    font-style: normal; }
/* END Light */
/* BEGIN Light Italic */
@font-face {
    font-family: 'Open Sans';
    src: url("../fonts/LightItalic/OpenSans-LightItalic.eot?v=1.1.0");
    src: url("../fonts/LightItalic/OpenSans-LightItalic.eot?#iefix&v=1.1.0") format("embedded-opentype"), url("../fonts/LightItalic/OpenSans-LightItalic.woff2?v=1.1.0") format("woff2"), url("../fonts/LightItalic/OpenSans-LightItalic.woff?v=1.1.0") format("woff"), url("../fonts/LightItalic/OpenSans-LightItalic.ttf?v=1.1.0") format("truetype"), url("../fonts/LightItalic/OpenSans-LightItalic.svg?v=1.1.0#LightItalic") format("svg");
    font-weight: 300;
    font-style: italic; }
/* END Light Italic */
/* BEGIN Regular */
@font-face {
    font-family: 'Open Sans';
    src: url("../fonts/Regular/OpenSans-Regular.eot?v=1.1.0");
    src: url("../fonts/Regular/OpenSans-Regular.eot?#iefix&v=1.1.0") format("embedded-opentype"), url("../fonts/Regular/OpenSans-Regular.woff2?v=1.1.0") format("woff2"), url("../fonts/Regular/OpenSans-Regular.woff?v=1.1.0") format("woff"), url("../fonts/Regular/OpenSans-Regular.ttf?v=1.1.0") format("truetype"), url("../fonts/Regular/OpenSans-Regular.svg?v=1.1.0#Regular") format("svg");
    font-weight: normal;
    font-style: normal; }
/* END Regular */
/* BEGIN Italic */
@font-face {
    font-family: 'Open Sans';
    src: url("../fonts/Italic/OpenSans-Italic.eot?v=1.1.0");
    src: url("../fonts/Italic/OpenSans-Italic.eot?#iefix&v=1.1.0") format("embedded-opentype"), url("../fonts/Italic/OpenSans-Italic.woff2?v=1.1.0") format("woff2"), url("../fonts/Italic/OpenSans-Italic.woff?v=1.1.0") format("woff"), url("../fonts/Italic/OpenSans-Italic.ttf?v=1.1.0") format("truetype"), url("../fonts/Italic/OpenSans-Italic.svg?v=1.1.0#Italic") format("svg");
    font-weight: normal;
    font-style: italic; }
/* END Italic */
/* BEGIN Semibold */
@font-face {
    font-family: 'Open Sans';
    src: url("../fonts/Semibold/OpenSans-Semibold.eot?v=1.1.0");
    src: url("../fonts/Semibold/OpenSans-Semibold.eot?#iefix&v=1.1.0") format("embedded-opentype"), url("../fonts/Semibold/OpenSans-Semibold.woff2?v=1.1.0") format("woff2"), url("../fonts/Semibold/OpenSans-Semibold.woff?v=1.1.0") format("woff"), url("../fonts/Semibold/OpenSans-Semibold.ttf?v=1.1.0") format("truetype"), url("../fonts/Semibold/OpenSans-Semibold.svg?v=1.1.0#Semibold") format("svg");
    font-weight: 600;
    font-style: normal; }
/* END Semibold */
/* BEGIN Semibold Italic */
@font-face {
    font-family: 'Open Sans';
    src: url("../fonts/SemiboldItalic/OpenSans-SemiboldItalic.eot?v=1.1.0");
    src: url("../fonts/SemiboldItalic/OpenSans-SemiboldItalic.eot?#iefix&v=1.1.0") format("embedded-opentype"), url("../fonts/SemiboldItalic/OpenSans-SemiboldItalic.woff2?v=1.1.0") format("woff2"), url("../fonts/SemiboldItalic/OpenSans-SemiboldItalic.woff?v=1.1.0") format("woff"), url("../fonts/SemiboldItalic/OpenSans-SemiboldItalic.ttf?v=1.1.0") format("truetype"), url("../fonts/SemiboldItalic/OpenSans-SemiboldItalic.svg?v=1.1.0#SemiboldItalic") format("svg");
    font-weight: 600;
    font-style: italic; }
/* END Semibold Italic */
/* BEGIN Bold */
@font-face {
    font-family: 'Open Sans';
    src: url("../fonts/Bold/OpenSans-Bold.eot?v=1.1.0");
    src: url("../fonts/Bold/OpenSans-Bold.eot?#iefix&v=1.1.0") format("embedded-opentype"), url("../fonts/Bold/OpenSans-Bold.woff2?v=1.1.0") format("woff2"), url("../fonts/Bold/OpenSans-Bold.woff?v=1.1.0") format("woff"), url("../fonts/Bold/OpenSans-Bold.ttf?v=1.1.0") format("truetype"), url("../fonts/Bold/OpenSans-Bold.svg?v=1.1.0#Bold") format("svg");
    font-weight: bold;
    font-style: normal; }
/* END Bold */
/* BEGIN Bold Italic */
@font-face {
    font-family: 'Open Sans';
    src: url("../fonts/BoldItalic/OpenSans-BoldItalic.eot?v=1.1.0");
    src: url("../fonts/BoldItalic/OpenSans-BoldItalic.eot?#iefix&v=1.1.0") format("embedded-opentype"), url("../fonts/BoldItalic/OpenSans-BoldItalic.woff2?v=1.1.0") format("woff2"), url("../fonts/BoldItalic/OpenSans-BoldItalic.woff?v=1.1.0") format("woff"), url("../fonts/BoldItalic/OpenSans-BoldItalic.ttf?v=1.1.0") format("truetype"), url("../fonts/BoldItalic/OpenSans-BoldItalic.svg?v=1.1.0#BoldItalic") format("svg");
    font-weight: bold;
    font-style: italic; }
/* END Bold Italic */
/* BEGIN Extrabold */
@font-face {
    font-family: 'Open Sans';
    src: url("../fonts/ExtraBold/OpenSans-ExtraBold.eot?v=1.1.0");
    src: url("../fonts/ExtraBold/OpenSans-ExtraBold.eot?#iefix&v=1.1.0") format("embedded-opentype"), url("../fonts/ExtraBold/OpenSans-ExtraBold.woff2?v=1.1.0") format("woff2"), url("../fonts/ExtraBold/OpenSans-ExtraBold.woff?v=1.1.0") format("woff"), url("../fonts/ExtraBold/OpenSans-ExtraBold.ttf?v=1.1.0") format("truetype"), url("../fonts/ExtraBold/OpenSans-ExtraBold.svg?v=1.1.0#ExtraBold") format("svg");
    font-weight: 800;
    font-style: normal; }
/* END Extrabold */
/* BEGIN Extrabold Italic */
@font-face {
    font-family: 'Open Sans';
    src: url("../fonts/ExtraBoldItalic/OpenSans-ExtraBoldItalic.eot?v=1.1.0");
    src: url("../fonts/ExtraBoldItalic/OpenSans-ExtraBoldItalic.eot?#iefix&v=1.1.0") format("embedded-opentype"), url("../fonts/ExtraBoldItalic/OpenSans-ExtraBoldItalic.woff2?v=1.1.0") format("woff2"), url("../fonts/ExtraBoldItalic/OpenSans-ExtraBoldItalic.woff?v=1.1.0") format("woff"), url("../fonts/ExtraBoldItalic/OpenSans-ExtraBoldItalic.ttf?v=1.1.0") format("truetype"), url("../fonts/ExtraBoldItalic/OpenSans-ExtraBoldItalic.svg?v=1.1.0#ExtraBoldItalic") format("svg");
    font-weight: 800;
    font-style: italic; }
/* END Extrabold Italic */

/*# sourceMappingURL=open-sans.css.map */

strong {
    font-weight: 800;
}

.nobr {
    white-space: nowrap;
}

.no-fixed {
    position: relative !important;
}

#slogan.no-fixed {
    /*background: url('../img/hero-bg.jpg?imgv=1.2');*/
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-attachment: fixed;
    height: auto;
}

body.ios-version #slogan.no-fixed {
     background-attachment: initial;
 }

#slogan.no-fixed #slogan-text1 {
    position: relative;
    color: #fff;
    margin: 0 auto;
    left: auto;
    top: auto;;
}

#slogan.no-fixed #slogan-text2 {
    position: relative;
    color: #fff;
    opacity: 1;
    margin: 0 auto;
    left: auto;
    top: auto;;
}

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

















/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1.4;
}

.hidden {
    display: none;
}

.flex {    
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-box-align: center;
    -moz-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.inline-flex {
    display: -webkit-inline-box;
    display: -moz-inline-box;
    display: -ms-inline-flexbox;
    display: -webkit-inline-flex;
    display: inline-flex;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-box-align: center;
    -moz-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.vertical-center {
    display: table;
    height: 100%;
}

.vertical-center > * {
    display: table-cell;
    vertical-align: middle;
}

.vertical {    
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.reverse-vertical {    
    -webkit-box-direction: reverse;
    -moz-box-direction: reverse;    
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
}

.align-center {        
    -webkit-box-align: center;
    -moz-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.align-start {    
    -webkit-box-align: start;
    -moz-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: flex-start;
    align-items: flex-start;    
}

.align-end {
    -webkit-box-align: end;
    -moz-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: flex-end;
    align-items: flex-end;      
}

.space-around {    
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    -webkit-justify-content: space-around;
    -ms-flex-pack: space-around;
    justify-content: space-around;
}

.space-between {
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: space-between;
    justify-content: space-between;    
}

.justify-center {
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.justify-end {
    -webkit-box-pack: end;
    -moz-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: flex-end;
    justify-content: flex-end;
}

.justify-start {    
    -webkit-box-pack: start;
    -moz-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: flex-start;
    justify-content: flex-start;
}


a, a:hover, a:focus, a:active {
    text-decoration: none;
    cursor: pointer;
}

.menu a, .menu a:hover, .menu a:focus, .menu a:active {
    color: #fff;
}


body {
    font-size: 13px;
    color: #28347f;
    font-family: "proxima-nova", "Open Sans";
    background-color: #eaecf1;
    overflow-x: hidden;
}

h1 {
  font-weight: 900;
  font-size: 2.4em;
  letter-spacing: 0.04em;
  margin: 15px auto;
}

h2 {
    font-weight: normal;
    font-size: 1.6em;
    letter-spacing: 0.04em;
    margin: 10px auto;
}

.slogan {
    color: white;
    text-align: center;
}

.center {
    text-align: center;
}

.pull-right {
    float: right;
}

.pull-left {
    float: left;
}

.red {
color: #e63842;
}

.red2 {
    color: #df444d;
}

.clutch-widget {
    width: 200px;
    margin-top: 30px;
}

.chevron-small {
  height: 16px;
  width: 9px;
  background-color: #283480;
}

.sub-menu:after {
    position: absolute;
    top: -50px;
    height: 50px;
    width: 100%;
    display: block;
    content: '';
}

#side-menu {
    background-color: #dbdde4;
    position: fixed;
    z-index: 82;
    right: 0;
    width: 250px;
    height: 100vh;
    overflow: auto;
    top: 0;
    bottom: 0;
    display: none;
    padding-top: 80px;
}
    
.side-menu-button, .side-menu-close {
    position: relative;
    top: 4px;
}

.side-menu-close {
    cursor: pointer;
}

#side-menu ul {
    clear: both;
    padding-top: 27px;
    width: 140px;
    padding-left: 29px;
    list-style: none;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 0.01em;

}

#side-menu li {
    margin-top: 17px;
    line-height: 15px;

}

#side-menu li a {
    color: #28347f;
}

#side-menu li a:hover, #side-menu li.current-menu-item a {
    color: #e63842;
}

#side-menu ul li ul {
    padding-left: 0;
    padding-top: 0;
    display: none;
}

#side-menu li ul li a {
    font-weight: 400;
}

#side-menu li ul li a:hover {
    color: #e63842;
}

.arrow-down {
    cursor: pointer;
}


#hero {
    background-image: url('../img/hero-bg.jpg?imgv=1.2');
    background-position: center top;
    background-size: cover;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

#slogan {
    position: fixed;
    width: 100%;
    z-index: 2;
    top: 100px;
    left: 0;
    font-size: 40px;
    overflow: hidden;
    color: #fff;
}

#slogan .section {
    max-width: 1024px;
    text-align: center;
    overflow: visible;
    right: 0;
}

.section {
    overflow: hidden;
    position: relative;
    width: 100%;
}

.section.slogan {
    background-size: cover;
    background-attachment: fixed;
    background-position: center top;
    background-repeat: no-repeat;
    z-index: 80;
    top: 0;
}

body.ios-version .section.slogan {
    background-attachment: initial;
}

#slogan strong {
    font-weight: 900;
}

#slogan-text1-slide div {
    display: inline-block;
    position: absolute;
    margin: auto;
    right: 0;
    width: 100%;
}

#slogan-text1 h1 {
    margin: 0 auto;
    display: none;
    font-size: 2em;
}

#slogan-text2 > div {
    width: 100%;
    max-width: 980px;
    margin: 0 auto;
}

#slogan-text1 h3 {
    font-size: 24px;
    font-weight: 300;
    letter-spacing: 0.05em;
    line-height: 34px;
    margin: 0;
}

#slogan-text1-slide #slogan-subtext1 h3 {
    padding: 0 116px;
}

#slogan-text1-slide #slogan-subtext2 h3 {
    padding: 0 168px;
}

#slogan-text1-slide {
    height: 70px;
    width: 100%;
}

#slogan-subtext1 h3, #slogan-subtext2 h3 {
    display: none;
}

#slogan-text2 h1 {
    margin: 0 auto;
    font-size: 2em;
    letter-spacing: 0.05em;
}

#section1 {
    height: 3548px;
    width: 100%;
}

#customer-say {
    background-color: #28347f;
    color: #dbdde4;
    width: 100%;
    min-height: 558px;
    position: relative;
}

#customer-say h1 {
    text-align: center;
    font-weight: 600;
    margin-bottom: 2%;
    font-size: 36px;
}

/*#customer-say video {
    width: 100%;
    height: 100%;
}*/

#video-overlay-h1 {
    position: absolute;
    color: rgb(255, 255, 255);
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
}

.video-overlay-video-btn {
    width: 80px;
    height: 80px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;

    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);

    -webkit-box-shadow: 0px 20px 50px 2px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 20px 50px 2px rgba(0,0,0,0.4);
    box-shadow: 0px 20px 50px 2px rgba(0,0,0,0.4);
}

.current-menu-item a {
    cursor: default;
    pointer-events: none;
}

#top1 {
    width: 100%;
    height: 100px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;    
    background-color: #28347f;
    background-position: center top;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    text-transform: uppercase;
    padding-right: 55px;
    padding-left: 55px;
}

body.ios-version #top1:not(.top2) {
    background-color: transparent;
}

#top1, #our-work > a:not(:last-child) , #blog-posts > a:not(:last-child) {
    border-bottom: 1px solid rgba(217, 217, 217, 0.14);
}

.main-bg {    
    background-image: url('../img/hero-bg.jpg?imgv=1.2');
}

.our-work-bg {
    background-color: #28347f;
}

.meedy-bg {
    background-image: url('../img/meedy.png?imgv=1.2');
}

.medatex-bg {
    background-color: #28347f;    
}

.iscribes-bg {
    background-color: #28347f;    
}

#meedy {
    background-image: url('../img/meedy.png?imgv=1.2');
}

#medatex {
    background-image: url('../img/medatex.jpg?imgv=1.2');
}

#iscribes {
    background-image: url('../img/iscribes.jpg?imgv=1.2');
}

#headmatters {
    background-image: url('../img/headmatters_hero.jpg?imgv=1.2');
    background-position: center 100px;
}

.product-strategy-bg {
    background-image: url('../img/it-consulting-hero-v2.jpg?imgv=1.2');
}

.software-development-bg {
    background-image: url('../img/software-development-hero.jpg?imgv=1.2');
}

.growth-engineering-bg {
    background-image: url('../img/growth-hero.jpg?imgv=1.2');
}

.contact-bg {
    background-image: url('../img/contact-hero.jpg?imgv=1.2');
}

#top1.transparent {
    background: transparent;
}

#top1.top2 {
    height: 80px;
    background-color: #28347f;
    background-image: none !important;
}

.post-type-archive-career #top1:not(.top2) {
    background-color: transparent;
    background-image: none !important;
}

#top1.top2 .logo img {
    width: 100px;
}


#top1.side-menu-opened {
    background-image: none !important;
    background-color: rgb(219, 221, 228) !important;
}

#top1:not(.side-menu-opened) .side-menu-close {
    display: none;
}

#top1:not(.side-menu-opened) .side-menu-logo-img {
    display: none;
}

#top1.side-menu-opened .side-menu-button {
    display: none;
}

#top1.side-menu-opened .logo-img {
    display: none;
}

#top1 .logo img {
    width: 164px;
}

#top1.top2 {
    background-image: none !important;
}

.menu-main-menu-container {
    letter-spacing: 0.05em;
    text-transform: uppercase;
}

#top1 ul.sub-menu {
    position: absolute;
    left: 2px;
    top: 53px;
    width: 200px;
    padding: 20px 25px;
    display: none;
    list-style: none;
    background-color: #ffffff;
    box-shadow: 0px 9px 24px 0px rgba(0, 0, 0, 0.18);
}

#top1.top2 ul.sub-menu {
    top: 47px;
}

#top1 ul.sub-menu:before {
    content: '';
    width: 12px;
    height: 12px;
    border: 6px solid transparent;
    border-bottom-color: white;
    position: absolute;
    top: -12px;
    left: 30px;
}

#side-menu .sub-menu {
    padding-left: 20px;
}

.menu-item-has-children {
    position: relative;
    overflow: visible;
}

#top1 #menu-main-menu ul.sub-menu a {    
    color: #28347f;
    text-transform: none;
}

#top1 #menu-main-menu ul.sub-menu a:hover, #top1 #menu-main-menu ul.sub-menu .current-menu-item a {    
    color: #e63842;
    opacity: 1;
}

#top1 ul.sub-menu > li {
    padding-top: 2px;
    padding-bottom: 2px;
}

#top1 ul.sub-menu > li:not(:last-of-type) {
    border-bottom: 1px solid rgba(255, 255, 255, 0.302);
}

a.contact:hover img {
    content: url('../img/envelope_hover.png?imgv=1.2');
}

#menu-main-menu {
    display: inline-block;
    list-style-type: none;
    margin-top: 10px;
    padding-left: 0;
    margin: 10px auto 0;
    width: 100%;
}

#menu-main-menu > li, #footer-menu > ul li {
    display: inline-block;
}

#menu-main-menu > li:not(:last-child) {
    margin-right: 24px;
}

#menu-main-menu > li:not(:first-child):before {
    content: '';
    height: 9px;
    display: inline-block;
    width: 2px;
    background-color: rgba(255, 255, 255, 0.302);
    position: relative;
    top: 1px;
    margin-right: 24px;
}

.top2 #menu-main-menu {
    margin-top: 4px;
}

#top1 #menu-main-menu li a:hover, #top1 #menu-main-menu li.current-menu-item a, #footer a:hover, #footer li.current-menu-item a {
    opacity: 0.5;
}

#top1 #menu-main-menu li a.active, #footer ul li a.active {    
    pointer-events: none;
    cursor: default;
}

#top1 .right {
float: right;
  width: 100px;
  padding-top: 42px;
}

#top1 .menu-btn {
      float: right;
  margin-right: 50px;
}

#top1 .menu-btn:hover img {
    content: url('../img/menu_hover.png?imgv=1.2');
}

.area .area-text {
    margin-top: 20px;
}

.area .no {
    color: #e63842;
    display: block;
    float: left;
}

.area .text {
    display: block;
    text-align: center;
    line-height: 24px;
    font-size: 24px;
    font-weight: 900;
    letter-spacing: 0.05em;
}

#area-image-0 {
    width: 75px;
}

#area-image-1 {
    width: 78px;
}

#area-image-2 {
    width: 142px;
}

#area-image-3 {
    width: 100px;
}

.container {    
    max-width: 970px;
    width: 100%;
    max-height: 100%;
    margin: 0 auto;
}

.section-content {
    max-width: 804px;
}

.section-content.padded {
    max-width: 914px;
}

.container.default-width {
    max-width: 1024px;
}

#values .col {
    float: left;
    width: 50%;
}

#values h2 {
    font-size: 21px;
    line-height: 29px;
}

#people h1 {
    max-width: 770px;
}

#references, #realisation-description {
    background-color: #eaecf1;
    width: 100%;
    font-size: 16px;
    font-weight: 400;
}

#references .section-header {
    width: 100%;
    max-width: 970px;
    height: 34%;
    max-height: 144px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -270px);
}

.main .reference-wrapper {
    transform: translate(-50%, -70px);
}

#references .text {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    padding: 0 0 0 120px;
    letter-spacing: 1px;
    font-size: 21px;
}

#references .reference {   
    overflow: visible;
    width: 100%;
    height: 100%;
}

.reference {
    position: relative;
}

#references .author {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

#references .author-text {
    padding: 0 0 0 120px;
    bottom: 12px;
    margin: 0;
    left: 0;
    position: absolute;    
}

#references .author-image {
    width: 65px;
}

#references .indicator {
    position: absolute;
    bottom: 5px;
    right: 0;
    z-index: 99;
}

#references .author .name {
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 700;
    display: block;
}

#references .author .position {
    color: #e63842;
    font-weight: 200;
    font-size: 14px;
    letter-spacing: 0.01em;
}

#references .beforetext {
    margin-left: 20px;
    width: 66px;
}

#references .doublequote {
    display: block;
    position: absolute;
    top: 5px;
    width: 66px;
}

#references .full-width { 
    padding: 20px 75px 40px 75px;
}

#references h1 {
    width: 100%;
    max-width: 840px;
    font-weight: 700;
    font-size: 32px;
    text-align: center;
    letter-spacing: 1px;
    padding: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#references h2 {
    font-size: 21px;
    letter-spacing: 0.01em;
    line-height: 29px;
}

.section-link {
    padding: 4px;
    margin: 4px;
    display: inline-block;
}

.link-point {
    height: 6px;
    width: 6px;
    border-radius: 50%;    
}

.indicator .selected {
    cursor: default;
}

#references .section-link.selected .link-point {    
    background-color: rgb(230, 56, 66);
}

#references .link-point {
    background-color: rgb(40, 52, 127);
}

.full-width-button {
    display: block;
    width: 100%;
    text-align: center;
    height: 60px;
    letter-spacing: 0.01em;
    line-height: 60px;
    font-size: 14px;
    font-weight: 100;
}

.full-width-button span:not(:last-child) {
    margin-right: 20px;
}

.full-width-button .right-arrow {
    position: relative;
    top: 2px;
}

.button-red {
    background-color: rgb(230, 56, 66);
}

.button-crimson {
    background-color: rgb(230, 33, 74); 
}

.button-blue {
    background-color: rgb(40, 52, 127);
}

.button {    
    color: white; 
}

.button:hover {
    background-color: white;
}

a.button-red.full-width-button:hover, a.button-crimson.full-width-button:hover {
    background-color: rgb(216, 47, 57);
    color: #ffffff !important;
}

.button:not(.button-red):not(.button-crimson):hover {
    color: #28347f;
}

.button .left-arrow {
    content: url(../img/arrow-left.png?imgv=1.2);
}

.button:not(.button-red):not(.button-crimson):hover .left-arrow {
    content: url(../img/arrow-left-blue.png?imgv=1.2);
}

.button .right-arrow {
    content: url(../img/arror-right.png?imgv=1.2);
}

.button:not(.button-red):not(.button-crimson):hover .right-arrow {    
    content: url(../img/arror-right-blue.png?imgv=1.2);
}

.realisation-images {
    overflow: hidden;
}

.realisation-images #previous, .realisation-images #next {
    border: 1px solid rgba(39, 50, 124, 0.3);
}

.realisation-images #previous:hover, .realisation-images #next:hover {
    border: none;
}

#realisations .indicator, .realisation-images .indicator {
    z-index: 99;
    margin-bottom: 3%;
    align-self: flex-end;
}

#realisations .indicator .section-link .link-point,
.realisation-images .indicator .section-link .link-point {
    background-color: rgb(255, 255, 255);
    opacity: 0.502;
}

#realisations .indicator .section-link.selected .link-point,
.realisation-images .indicator .section-link.selected .link-point {
    opacity: 1;
}

.realisation-image {
    position: absolute;   
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
}

.realisation-image img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);    
}

.realisation-image-wrapper {
    width: 100%;
    height: 100%;
    position: relative;
}

#client-growth {
    position: fixed;
  background-color: #eaecf1;
  width: 100%;
    padding: 70px 0 ;
}

.section-title {
    color: #28347f;
    font-size: 16px;
    text-decoration: underline;
    font-weight: 400;
    letter-spacing: 1px;
    max-width: 970px;
    width: 100%;
}

.container .section-title {
    position: relative;
    top: 0;
}

#product-strategy .step .container {
    background-color: #eaecf1;
    z-index: 21;
}

#moving-business .section-title, #profile-targeting .section-title {
    left: 0;
}

#growth-engineering .section:not(.slogan) h1 {
    margin-left: 0;
    margin-right: 0;
}

#our-work {
    height: calc(100vh - 60px);
    min-height: 558px;
    padding-top: 100px;
}

.realisation-hero {
    overflow: hidden;
    padding-left: 12.25%;
    position: relative;
    letter-spacing: 0.05em;
    text-align: left;
}

#our-work > a {
    color: #b9bdde;
}

#our-work > a:hover {
    color: white;
}

#our-work-link {
    position: absolute;
    top: 128px;
    left: 55px;
    text-transform: uppercase;
}

#our-work-link > a {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    display: inline-block;    
    border: 1px solid white;
}

#our-work-link > a > span {
    display: inline-block;
    position: absolute;
    top: 22px;
    left: 19px;    
    width: 23px;
    height: 15px;
    background-image: url('../img/arrow-left.png?imgv=1.2');
}

#our-work-link > a:hover {
    background-color: white;
}

#our-work-link > a:hover > span {
    background-image: url('../img/arrow-left-blue.png?imgv=1.2');
}

#our-work-link > h3 {
    margin: 0;
    display: inline-block;
    position: absolute;
    width: 100px;
    top: 0;
    left: 102px;
    line-height: 60px;
    font-weight: 600;
}

.realisation-hero h1 {
    letter-spacing: 0.05em;
    font-size: 66px;
    font-weight: 700;
    margin: 0;
}

.realisation-hero h2  {
    font-size: 19px;
    font-weight: 300;
    margin: 0;
}

.realisation-images {
    background-color: rgb(234, 236, 241);
}
    
.realisation-image {
    overflow: hidden;
} 

.our-work-meedy-bg {
    background-image: url(../img/meedy-bg.jpg?imgv=1.2);
}

.our-work-medatex-bg {
    background-image: url(../img/medatex-bg.jpg?imgv=1.2);
}

.our-work-iscribes-bg {
    background-image: url(../img/iscribes-bg.jpg?imgv=1.2);
}

.our-work-headmatters-bg {
    background-image: url(../img/headmatters-bg.jpg?imgv=1.2);
}

#realisation-page .realisation-header {
    max-width: 310px;
}

#technology-stack {
    position: relative;
    width: 100%;
    background-color: white;
}

#technology-stack h3 {    
    font-size: 16px;
    font-weight: 400;    
}

#technology-stack img {
    height: 40px;
}

#technology-stack img[data-technology = 'angularjs'] {
    height: 36px;
}

#technology-stack img[data-technology = 'css3'] {
    height: 52px;
}

#technology-stack img[data-technology = 'hibernate'] {
    height: 25px;
}

#technology-stack img[data-technology = 'html5'] {
    height: 51px;
}

#technology-stack img[data-technology = 'java'] {
    height: 69px;
}

#technology-stack img[data-technology = 'less'] {
    height: 26px;
}

#technology-stack img[data-technology = 'nodejs'] {
    height: 27px;
}

#technology-stack img[data-technology = 'php'] {
    height: 32px;
}

#technology-stack img[src = 'img/technologies/sass.png?imgv=1.2'] {
    height: 42px;
}

#realisation-page .reference-wrapper {
    max-height: 250px;
}

#realisation-page #references {
    position: relative;
    height: 70%;
}

#realisation-page #references .text {    
    font-size: 16px;
}

#client-growth h1 {
    width: 490px;
  color: #28347f;
  font-size: 2.1em;
}

#client-growth h2 {
      color: #28347f;
  width: 600px;
  margin-top: 30px;
}

#realisations {
    background-color: #28347f;
    color: #dbdde4;
    width: 100%;
    /*padding: 80px 0 0 0;*/
    z-index: 80;
    height: calc(100vh - 140px);
    min-height: 558px;
}

#next, #previous, #back {
    height: 80px;
    width: 80px;
    position: absolute;    
    cursor: pointer;
    z-index: 98; 
}

#next, #previous {
    top: 50%;
    transform: translateY(-50%);   
}

#next {
    right: 0;
    border-right: none !important;
}

#previous {
    left: 0;
    border-left: none !important;
}

.arrow-next, .arrow-previous {
    height: 17px;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
}


#back {
    top: 0;
    left: 0;
    display: none;
}

#realisations #realisation-iscribes {
    position: absolute;
    top: 0;
    left: 60%;
    bottom: 50%;
    width: 40%;
    background: url('../img/realisations-iscribes-bg.png?imgv=1.2');
    background-position: bottom center;
    background-size: cover;
}

#realisations .hover {
    background-color: rgba(41,54,125,0.8);
    height: 100%;
    width: 100%;
    display: none;
}

#realisations h1 {
    font-size: 31px;
    font-weight: 700;
    letter-spacing: 1px;
    color: white;
    margin: 5px auto;
}

#realisations h2 {
    font-size: 21px;
    font-weight: 300;
    letter-spacing: 1px;
    margin: 12px auto 32px;
}

.realisation {
    display: none;
    overflow: hidden;
    width: 100%;
    height: 100%;
    min-height: 478px;
    background-size: cover;
    left: 0;
    position: absolute;
    top: 0;
}

.realisation .attribute {
    color: #e63842;
}

.realisation .text {
    display: inline-block;
    z-index: 96;
}

.realisation hr {
    width: 26px;
    opacity: 0.302;
    margin: 24px 0;
}

.realisation .realisation-footer {
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: 200;
    line-height: 24px;
}

.realisation .bg-image {
    width: 100%;
    top: 0;
    left: 0;
}

.visit-area {
    position: absolute;
    width: 30%;
    height: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 120;
}

.visit-area a {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 140px;
    height: 60px;
    border-radius: 30px;
    border: 1px solid white;
    transform: translate(-70px, -30px);
    text-transform: uppercase;
    line-height: 60px;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.1em;
    opacity: 0;
}

.visit-area a .right-arrow {
    position: relative;
    top: 2px;
    margin-left: 10px;
}

.content-area {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.hover .hover-content {
    position:absolute;
    top: 50%;
    left: 50%;
    width: 300px;
    margin-top: -70px;
    margin-left: -150px;
    text-align: center;
}

.hover-content h1 {
    font-size: 34px;
    margin: 0;
    font-weight: 700;
}

.hover-content h2 {
    font-size: 14px;
    margin: 6px;
    font-weight: 300;
    font-style: italic;
}

.hover-content .more-btn {
    display: block;
    border: 1px solid #fff;
    border-radius: 30px;
    padding: 21px;
    width: 215px;
    margin: 20px auto;
    text-align: left;
    cursor: pointer;
}

.hover-content .more-btn img {
    float: right;
}

#realisations div:hover > .hover {
    display: block;
}

#realisations #realisation-medatex {
    position: absolute;
    top: 50%;
    left: 60%;
    bottom: 0;
    width: 40%;
    background: url('../img/medatex.jpg?imgv=1.2');
    background-position: center center;
    background-size: 400px;
    background-repeat: no-repeat;
    background-color: #29367d;
}
    
#apps-text {
    font-size: 159px;
    line-height: 159px;
    color: #28347f;
    font-weight: 700;
    text-align: center;
}

#realisations .col {
    float: left;
}

#realisations .meedy {
    display: none;
    background-image: url('../img/meedy3.jpg?imgv=1.2');
    width: 100%;
    background-position: center center;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

#realisation-meedy .section-title {
    margin-left: 15%;
    margin-top: 50px;
    position: absolute;
}

#realisations .bar {
    width: 32px;
    height: 1px;
    background-color: #9298ba;
    margin: 16px 0;
}

#realisations .meedy .col.description {
    top: 50%;
    position: absolute;
    margin-top: -120px;
    left: 50%;
    margin-left: 200px;
}

#realisations .col.description h1 {
    font-size: 31px;
    font-weight: 700;
    line-height: 34px;
    margin-bottom: 0;
}

#realisations .col.description h2 {
    font-weight: 400;
    font-size: 21px;
    line-height: 29px;
}

#realisations .col.description h3 {
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
}

#realisations .meedy .col.description h1 {
    width: auto;
}

#realisations .meedy .col.description h2 {
    width: 52%;
}

#realisations .meedy img {
    bottom: 0;
    position: absolute;
}

#realisations .iscribes {
    display: none;
    height: 100%;
    width: 100%;
    background-image: url('../img/iscribes-bg2.jpg?imgv=1.2');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;

}

#realisations .iscribes .col.description {
    position: absolute;
    top: 50%;
    margin-top: -100px;
    left: 50%;
    width: 420px;
}

#realisations .iscribes img {
    margin-left: -119px;
    position: absolute;
    top: 50%;
    margin-top: -252px;
}

#realisations .medatex {
    display: none;
    height: 100%;
    width: 100%;
    background-image: url('../img/medatex-bg.png?imgv=1.2');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

#realisations .medatex .col.description {
    position: absolute;
    top: 200px;
    margin-top: -100px;
    left: 200px;
    width: 450px;
}

#realisations .medatex img {
    margin-left: -200px;
    width: 625px;
    position: absolute;
    top: 50%;
    margin-top: -211px;
}

#main-references {
    font-size: 21px;
}

.main-references {
    display: none;
    overflow: visible;
    width: 100%;
    height: 100%;
    left: 0;
    position: absolute;
}

#main-references h1 {
    margin-bottom: 50px;
    font-size: 36px;
    font-weight: 700;
    margin-top: 0px;
    text-align: center;
    position: relative;
}

#main-references .quote {
    float: left;
    width: 112px;
    font-size: 200px;
    line-height: 150px;
    font-weight: 600;
    color: #767ead;
    position: relative;
}

#main-references .main {
    float: left;
    width: calc(100% - 112px);
}

#accomplishments-container {
    width: 100%;
    max-width: 890px;
    height: 360px;
    position: relative;
}

#main-references .clients-accomplishments-main {
    position: relative;
}

#main-references .clients-accomplishments-footer {
    position: relative;
}

#main-references .author {
    font-size: 15px;
    margin-top: 54px;
}

#main-references .author .name {
    font-weight: bold;
}

#main-references .author .company {
    color: #e63842;
}

#main-references .indicator-container {    
    right: 0;
    bottom: 15px;
    position: absolute;
}

#main-references .indicator {
    z-index: 99;
    float: right;
}

#main-references .indicator .link-point {
    background-color: #28347f;
}

#main-references .indicator .section-link.selected .link-point {
     background-color: #e63842;
}

#contact {
    color: #ffffff;
    background-color: #29367d;
    z-index: 2;
}

#contact h1 {
    font-size: 55px;
    text-align: center;
    margin-top: 90px;
    margin-bottom: 15px;
    letter-spacing: 0.04em;
    width: 100%;
}

#contact h2 {
    font-weight: 200;
    text-align: center;
    width: 597px;
    margin: 0 auto;
    font-size: 24px;
    line-height: 40px;
    letter-spacing: 0.04em;
}

.contact-btn {
    display: block;
    border: 1px solid #ffffff;
    border-radius: 40px;
    padding: 21px 32px;
    width: 269px;
    margin: 60px auto;
    font-weight: 700;
    font-size: 15px;
    color: #29367d;
    background-color: #ffffff;
}

.contact-btn:hover, .contact-btn:active, .contact-btn:focus {
    color: #ffffff;
    background-color: #29367d;

}

.contact-btn:hover img, .contact-btn:active img, .contact-btn:focus img {
    content: url('../img/arror-right.png?imgv=1.2');
}

.contact-btn img {
    margin-top: 2px;
    float: right;
}


#footer {
    background-color: #fff;
    color: #28347f;
}

#footer a {
 color: #28347f;
}

#footer .row {
    margin-left: 25px;
    margin-right: 25px;
}

#footer-logo img {
    width: 122px;
}

#footer-logo {
    padding-top: 25px;
    padding-bottom: 10px;
}

#footer-areas {
    padding-top: 25px;
    padding-bottom: 25px;
}

#footer .menu-item-has-children > a {
    cursor: default;
    pointer-events: none;
}

#footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#footer-areas a, #footer-areas p {    
    margin-bottom: 7px;
}

#footer-areas .spacer {
    height: 18px;
}

#footer-areas a {    
    display: inline-block;
}

#footer-areas .menu > li {
    text-transform: uppercase;
    font-weight: 800;
}

#footer-areas .sub-menu > li {
    text-transform: none;
    font-weight: 400;
}

#footer-areas .location {
    padding-left: 25px;
}

#footer-areas .location:before {
    content: url(../img/pin_icon.png?imgv=1.2);
    position: absolute;
    left: 15px;
    width: 14px;
    height: 18px;
}

#footer-footnotes.row {
    padding-top: 20px;
    padding-bottom: 40px;
    margin-left: 40px;
    margin-right: 40px;
    border-top: 1px solid rgb(234, 236, 241);
}

#footer-footnotes > div {
    padding-left: 0;
    padding-right: 0;
}

#footer-footnotes li {
    display: inline-block;
    margin-left: 10px;
}

#footnotes {
    font-weight: 800;
}

#footnotes .textwidget {
    position: relative;
    top: 2px;
}

.icon-fb:before, .icon-lin:before {
    color: #ffffff;
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: #28347f;
    border-radius: 50%;
    font: normal normal normal 13px/1 FontAwesome;
    padding-top: 4px;
    text-rendering: auto;
    text-align: center;
    -webkit-font-smoothing: antialiased;
}

.icon-fb:before {
    content: "\f09a";
}

.icon-lin:before {
    content: "\f0e1"; 
}

#copyright-notice {
    color: #373737;
    float: right;
}

/******* IT CONSULTING *********/


#it-consulting-hero h1 {
    text-align: center;
    color: #fff;
    letter-spacing: 0.05em;
    font-size: 55px;
    margin: 0;
}

#it-consulting-hero h3 {
    text-align: center;
    color: #fff;
    font-size: 24px;
    line-height: 34px;
    font-weight: 300;
    width: 777px;
    margin: 7px auto;
    letter-spacing: 0.05em;
}

.step .container {
    display: flex;
}

.step .no {
    display: inline-block;
    font-size: 88px;
    font-weight: 700;
    color: #e63842;
    margin-bottom: -8px;
}

.step .step-title {
    font-size: 36px;
    font-weight: 900;
    clear: left;
    margin-top: 2px;
    letter-spacing: 0.03em;
}

.step .step-text {
    font-size: 21px;
    letter-spacing: 0.03em;
    font-weight: 400;
}

.step .step-text .bar {
    width: 32px;
    height: 1px;
    background-color: #9298ba;
    margin: 16px 0;
}

.step-text h1 {
    width: 100%;
    max-width: 384px;
    display: inline-block;
    text-transform: uppercase;
    font-size: 36px;
    margin: 0 0 0 20px;
    line-height: 36px;
}

.step strong {
    color: #e63842;
    font-weight: 800;
}


/******* SOFTWARE DEVELOPMENT *********/

#software-development .section-title {
    left: 0px;
}

#software-development .container:not(.padded) .section-title {
    left: 55px;
}

#software-development-hero h1 {
    font-size: 36px;
    margin: 0 auto;
    line-height: 46px;
    letter-spacing: 0.05em;
}

#software-development-hero h3 {
    text-align: center;
    color: #fff;
    font-size: 24px;
    font-weight: 300;
    line-height: 34px;
    width: 762px;
    margin: 12px auto 0 auto;
    letter-spacing: 0.03em;
}

#software-development .section:not(#apps):not(#custom-software-development):not(#security) h2 {
    margin-left: 0;
}

#ui-ux-experts #notebook {
    position: absolute;
    right: 50%;
}

#ui-ux-experts h1.ui-ux {
    color: #28347f;
    margin-bottom: 0;
    width: 100%;
    max-width: 500px;
    font-size: 36px;
    font-weight: 700;
    line-height: 46px;
    letter-spacing: 0.03em;
}

#ui-ux-experts h2.ui-ux {
    color: #28347f;
    margin-top: 14px;
    font-weight: normal;
    width: 100%;
    max-width: 456px;
    font-size: 21px;
    line-height: 29px;
    letter-spacing: 0.03em;
}

#ui-ux-experts img.remote-cto {
   float: right;
  position: absolute;
  bottom: 0;
  right: 0;
}


h1.remote-cto {
    color: #28347f;
    margin: 35px 0 0;
    width: 100%;
    max-width: 566px;
    font-size: 36px;
    font-weight: 700;
    line-height: 46px;
    letter-spacing: 0.03em;
}

h2.remote-cto {
    color: #28347f;
    margin: 14px 0 0;
    font-weight: normal;
    width: 100%;
    max-width: 456px;
    font-size: 21px;
    line-height: inherit;
    letter-spacing: 0.03em;
}

.half-width {
    width: 50%;
}

.six-sevenths {
    width: 85.72%;
}

#apps {
  width: 100%;
  color: #fff;
}

#apps .section-title {
  color: #fff;
  text-align: center;
  width: 100%;
  margin-top: 5px;
}

#apps h1 {
    text-align: center;
    padding: 0;
    font-size: 36px;
    font-weight: 700;
    line-height: 46px;
    letter-spacing: 0.03em;
    width: 100%;
    max-width: 445px;
}

#apps h2 {
    text-align: center;
    font-weight: normal;
    font-size: 21px;
    line-height: 29px;
    letter-spacing: 0.03em;
    width: 459px;
}

#custom-software-development h1.custom-software-development {
    margin-left: 100px;
    max-width: 580px;
    margin-bottom: 0;
    color: #28347f;
    font-size: 36px;
    font-weight: 700;
    line-height: 46px;
    letter-spacing: 0.03em;
}

#custom-software-development h2.custom-software-development {
    color: #28347f;
    margin-left: 100px;
    margin-right: 143px;
    margin-top: 15px;
    margin-bottom: 30px;
    font-weight: normal;
    font-size: 21px;
    line-height: 29px;
    letter-spacing: 0.03em;
}

#custom-software-development #scrum {
    width: 368px;
    height: 278px;
    background-image: url('../img/scrum-frame.png?imgv=1.2');
    padding: 65px 19px;
    color: #28347f;
    font-size: 22px;
    text-align: center;
    font-weight: 600;
}

h1.business-intelligence {
    color: #28347f;
    font-size: 31px;
    font-weight: 700;
    line-height: 46px;
    letter-spacing: 0.03em;
    margin: 15px 0;
}

#business-intelligence .chart2 {
    position: relative;
    top: -25px;
}

#custom-software-development #charts {
    float: left;
    position: relative;
    margin-left: 90px;
    margin-top: -27px;
}


#custom-software-development .chart2 {
    position: absolute;
    left: -60px;
    top: -26px;
}

#security {
    background-color: #28347f;
    width: 100%;
    padding: 0;
    color: #fff;
    text-align: center;
}

#security h1 {
    width: 593px;
    margin: 20px auto;
    font-size: 36px;
    font-weight: 700;
    line-height: 46px;
    letter-spacing: 0.03em;
}

#security h2 {
    margin: 0 auto;
    width: 700px;
    font-weight: normal;
    font-size: 21px;
    line-height: 29px;
    letter-spacing: 0.03em;
}


#implementation, #maintenance, #technology {
    background-color: #eaecf1;
    width: 100%;    
}

#implementation h1 {
    margin-left: 0;
}

.description h1 {
    font-size: 36px;
    font-weight: 700;
    line-height: 46px;
    letter-spacing: 0.03em;
    width: 100%;
    max-width: 555px;
}

.description h2 {
    font-size: 21px;
    line-height: 29px;
    letter-spacing: 0.03em;
    width: 100%;
}

#implementation .description, #maintenance .description {    
    max-width: 450px;
}

#maintenance h1 {
    width: 100%;
    margin-left: 0;
    max-width: 506px;
}

#maintenance h2 {
    width: 100%;
    max-width: 430px;
}

#apps-bg-holder, #apps-bg {
    position: absolute;
    width: 100%;
}

#apps-bg {
    
        background-color: #28347f;
}

/******* GROWTH ENGINEERING *********/

#growth-hero h1 {
    color: #fff;
    font-size: 45px;
    margin: 0 auto;
    width: 800px;
    letter-spacing: 0.04em;
    line-height: 55px;
}



#growth-hero h3 {
    text-align: center;
    color: #fff;
    font-size: 24px;
    font-weight: 300;
    line-height: 34px;
    width: 580px;
    margin: 27px auto;
    letter-spacing: 0.04em;
}


#moving-business img {
      margin-top: 20px;
  float: left;
}

#moving-business h1 {
    width: 100%;
    max-width: 559px;
    line-height: 48px;
    letter-spacing: 0.03em;
    font-size: 36px;
    font-weight: 700;
}

#moving-business h2 {
    width: calc(100% - 505px);
    max-width: 456px;
    float: left;
    margin-left: 32px;
    line-height: 29px;
    font-size: 21px;
    letter-spacing: 0.03em;
}

#profile-targeting .description {
    margin-top: 40px;
}

#profile-targeting h1 {
    width: 100%;
    max-width: 470px;
    line-height: 48px;
    margin-bottom: 0;
    letter-spacing: 0.03em;
    font-size: 36px;
    font-weight: 700;
}

#profile-targeting h2 {
    width: 100%;
    max-width: 466px;
    float: left;
    margin-top: 15px;
    margin-bottom: 0;
    line-height: 29px;
    font-size: 21px;
    letter-spacing: 0.03em;
}

#brand-visibility .description {
    margin: 33px auto;
    width: 100%;
    max-width: 800px;
}


#brand-visibility .description h1 {
    line-height: 48px;
    margin-bottom: 0;
    letter-spacing: 0.03em;
    font-size: 36px;
    font-weight: 700;
    width: 100%;
    max-width: 100%;
}

#brand-visibility .description h2 {
    margin: 14px 0 0 0;
    line-height: 29px;
    font-size: 21px;
    letter-spacing: 0.03em;
    width: 100%;
    max-width: 725px;
}

#brand-visibility .img {
    text-align: center;
}

#data-sync .img {
    text-align: center;
}

#data-sync h1{
    width: 100%;
    max-width: 746px;
    margin: 10px 0;
    letter-spacing: 0.03em;
    font-size: 36px;
    font-weight: 700;
}

#data-sync h2 {
    width: 100%;
    max-width: 800px;
    margin: 20px auto 0 auto;
    line-height: 29px;
    font-size: 21px;
    letter-spacing: 0.03em;
}


/****** CONTACT ******/

#contact-hero h1 {
    color: #fff;
    margin: 0 auto;
    width: 100%;
    max-width: 699px;
    text-align: center;
    font-size: 36px;
    letter-spacing: 0.05em;
}

.address {
    position: relative;
    float: left;
    width: calc(100% / 3);
    text-align: center;
    padding: 40px;
    background-color: #e7e9ee;
    font-size: 16px;
    line-height: 26px;
    cursor: pointer;
    font-weight: 300;
    height: 200px;
}

#addresses > .address:nth-last-child(n+3) {
    border-right: 1px solid #c1c5d8;
}

.address:hover, .address.active {
    background-color: #d4d7e0;
    cursor: pointer;
}

.address h1 {
    font-size: 21px;
    margin-top: 10px;
    font-weight: 700;
    margin-bottom: 0;
    letter-spacing: 0.03em;
}

.address .map-arrow {
    position: absolute;
    bottom: -12px;
    left: 50%;
    margin-left: -12.5px;
    display: none;
    z-index: 1;
}

.address:hover .map-arrow, .address.active .map-arrow {
    display: block;
    cursor: pointer;
}

#addresses {    
    min-height: 478px;
}

#map_canvas {
    width: 100%;
    height: calc(100% - 200px);
    background-color: #0A1767;
}

#contact-form h1 {
    text-align: center;
    font-size: 36px;
    margin-bottom: 0;
}

#contact-form h2 {
    text-align: center;
    /*color: #e63842;*/
    margin-top: 0;
    font-size: 24px;
    letter-spacing: 0.04em;
}

#contact-form form {
    width: 100%;
    max-width: 780px;
    margin: 0 auto;
    padding-top: 5px;
    overflow: hidden;
}

#contact-form .col, #realisation-description .col {
    float: left;
    width: 50%;
    padding:0 10px;
}

#contact-form .contact-recaptcha-container {
    clear: left;
    width: 100%;
    margin-bottom: 22px;
}


#contact-form input.error {
    color: #e63842;
    border: 1px solid #e63842;
    margin-bottom: 10px;
}

#contact-form textarea.error {
    color: #e63842;
    border: 1px solid #e63842;
    margin-bottom: 10px;
}

#contact-form div.error-txt {
    color: #e63842;
    font-size: 14px;
    margin-left: 22px;
    margin-bottom: 10px;
}

#contact-form .choose-file-btn.error {
    background-color: #e63842;
    border-color: #e63842;
}

#contact-form .choose-file-btn.error:hover {
    color: #e63842;
    background-color: transparent;
}

#contact-form .contact-recaptcha-container div.error-txt {
    margin-left: 0;
    margin-bottom: 0;
    margin-top: 10px;
}

#contact-form .g-recaptcha.error {
    border: 1px solid #e63842;
}

#contact-form div.clear {
    clear: both;
}

.full-width {
    width: 100% !important;
    max-width: 100% !important;
}

.full-height {
    height: 100% !important;
    max-height: 100% !important;
}

.content-width {
    max-width: calc(100% - 110px);
}

.container.padded {
    padding: 0 55px;
}

.relative {
    position: relative;
}

.container.padded.default-width {
    max-width: 1134px;
}

.container.padded .section-title {
    left: 0;
}

.left-panel {
    position: absolute;
    width: 50%;
    right: 50%;
    top: 50%;
    transform: translateY(-50%);
    height: 100%;
}

.right-panel {
    position: absolute;
    width: 50%;
    left: 50%;
    height: 100%;
}

input[type=text], textarea {
    width: 100%;
    background-color: transparent;
    border: 1px solid #adb2cc;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    color: #28347f;
    font-size: 15px;
}

#contact-form textarea {
    height: 146px;
}

.send-btn {
    clear: left;
    display: block;
    border: 1px solid #e63842;
    border-radius: 30px;
    padding: 21px;
    width: 80%;
    max-width: 280px;
    margin: 0 auto;
    color: #e63842;
    cursor: pointer;
    font-weight: 600;
}

.send-btn:hover {
    background-color: #e63842;
    color: #fff;
}

.send-btn img {
    float: right;
}

.send-btn:hover img {
    content: url('../img/arror-right.png?imgv=1.2');
}

*::-webkit-input-placeholder {
    color: #28347f;
}
*:-moz-placeholder {
    /* FF 4-18 */
    color: #28347f;
}
*::-moz-placeholder {
    /* FF 19+ */
    color: #28347f;
}
*:-ms-input-placeholder {
    /* IE 10+ */
    color: #28347f;
}

/****** ABOUT *******/

.about-bg {
    background-image: url('../img/about.jpg?imgv=1.2');
}


.about-lukasz-bg {
    background-image: url('../img/apzumi_about_lukasz.jpg?imgv=1.3');
    background-blend-mode: multiply;
    background-color: rgba(10, 36, 106, 0.9);
    -webkit-transition: background-color 300ms linear;
    -moz-transition: background-color 300ms linear;
    -o-transition: background-color 300ms linear;
    -ms-transition: background-color 300ms linear;
    transition: background-color 300ms linear;
}

.about-lukasz-bg:hover {
    background-color: rgba(10, 36, 106, 0);
    -webkit-transition: background-color 300ms linear;
    -moz-transition: background-color 300ms linear;
    -o-transition: background-color 300ms linear;
    -ms-transition: background-color 300ms linear;
    transition: background-color 300ms linear;
}

.about-asia-bg {
    background-image: url('../img/apzumi_about_asia.jpg?imgv=1.2');
    background-blend-mode: multiply;
    background-color: rgba(10, 36, 106, 0.9);
    -webkit-transition: background-color 300ms linear;
    -moz-transition: background-color 300ms linear;
    -o-transition: background-color 300ms linear;
    -ms-transition: background-color 300ms linear;
    transition: background-color 300ms linear;
}

.about-asia-bg:hover {
    background-color: rgba(10, 36, 106, 0);
    -webkit-transition: background-color 300ms linear;
    -moz-transition: background-color 300ms linear;
    -o-transition: background-color 300ms linear;
    -ms-transition: background-color 300ms linear;
    transition: background-color 300ms linear;
}

.about-mikolaj-bg {
    background-image: url('../img/apzumi_about_mikolaj.jpg?imgv=1.2');
    background-blend-mode: multiply;
    background-color: rgba(10, 36, 106, 0.9);
    -webkit-transition: background-color 300ms linear;
    -moz-transition: background-color 300ms linear;
    -o-transition: background-color 300ms linear;
    -ms-transition: background-color 300ms linear;
    transition: background-color 300ms linear;
}

.about-mikolaj-bg:hover {
    background-color: rgba(10, 36, 106, 0);
    -webkit-transition: background-color 300ms linear;
    -moz-transition: background-color 300ms linear;
    -o-transition: background-color 300ms linear;
    -ms-transition: background-color 300ms linear;
    transition: background-color 300ms linear;
}

.about-karol-bg {
    background-image: url('../img/apzumi_about_karol.jpg?imgv=1.2');
    background-blend-mode: multiply;
    background-color: rgba(10, 36, 106, 0.9);
    -webkit-transition: background-color 300ms linear;
    -moz-transition: background-color 300ms linear;
    -o-transition: background-color 300ms linear;
    -ms-transition: background-color 300ms linear;
    transition: background-color 300ms linear;
}

.about-karol-bg:hover {
    background-color: rgba(10, 36, 106, 0);
    -webkit-transition: background-color 300ms linear;
    -moz-transition: background-color 300ms linear;
    -o-transition: background-color 300ms linear;
    -ms-transition: background-color 300ms linear;
    transition: background-color 300ms linear;
}

#about {
    background-color: #eaecf1;
}

#about-apzumi h1 {
    font-size: 36px;
    font-weight: 900;
    max-width: 780px;
}

#about-apzumi h2 {
    font-size: 21px;
    font-weight: 400;
    max-width: 560px;
}

#about .about-person {
    background-color: #28347f;
    font-size: 16px;
    color: #ffffff;
}

#about .about-person .row {
    height: 100%;
}

#about .about-person .img-container {
    background-size: cover;
    position: relative;
}

#about .about-person .img-container.left {
    background-position: left center;
}

#about .about-person .img-container.right {
    background-position: right center;
}

#about .about-person .person-description-container  {
    height: 100%;
    margin-right: 10px;
    overflow: auto;
}

#about .about-person .person-description-container::-webkit-scrollbar {
    width: 8px;
}

#about .about-person .person-description-container::-webkit-scrollbar-thumb {

    background-color: rgba(255,255,255,0.4);
    border-radius: 4px;
}

#about .about-person .img-container,
#about .about-person .desc-container{
    height: 100%;
}

#about .about-person .desc-container {
    padding: 30px 0;
}

#about .about-person .person-description {
    position: relative;
    text-align: left;
    width: 80%;
}


#about .about-person h1 {
    font-size: 31px;
}

#about .about-person h2 {
    font-size: 21px;
    color: #e63842;
    margin-bottom: 30px;
}

#about .about-person p {
    margin-bottom: 20px;
}

#about .about-person p span.about-label{
    color: #e63842;
}


#about-hero .section-title {
    color: #fff;
}

#about-hero h1 {
    font-size: 36px;
    font-weight: 900;
    max-width: 780px;
}

#about-hero h2 {
    font-size: 21px;
    font-weight: 400;
    max-width: 560px;
}


#about .section:not(.slogan) h1 {
    font-weight: 700;
    font-size: 31px;
    width: 100%;
    margin: 46px 0 0;
}

#about .section:not(.slogan) .col h1 {
    font-size: 21px;
    text-transform: uppercase;
    font-weight: 800;
}

#values.section .container > h1 {
    text-align: center;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}


#portfolio .container {
    padding-top: 120px;
}

#portfolio h1 {
    width: 800px;
    margin: 36px auto 0 auto;
    padding-bottom: 46px;
}


#news {
    background-color: #28347f;
    overflow: auto;
}

#news .container {
    padding-top: 60px;
}

#news .section-title {
    color: #fff;
}

#news h1 {
    color: #fff;
}

#news .news-item {
    border-bottom: 1px solid #626ba1;
    padding: 20px;
    overflow: auto;
}

#news .col {
    float: left;
    width: 50%;
    padding: 20px;
}

#news h3 {
    color: #fff;
    font-size: 1.5em;
    font-weight: 400;
}

#news h3 .red {
    font-weight: 800;
}

#news .find-out-more {
    color: #fff;
    font-size: 1.3em;
    font-weight: 600;
    margin-top: 30px;
    margin-bottom: 20px;
}

#news .find-out-more img {
    margin-left: 30px;
}

#subscription {
    margin: 35px auto;
    width: 700px;
    overflow: auto;
}

#subscription h2 {
    float: left;
    width: 360px;
    color: #fff;
    text-align: right;
    padding-right: 40px;
}

#subscription #subscription-email {
    display: block;
    float: left;
    width: 225px;
    border-top-left-radius: 28px;
    border-bottom-left-radius: 28px;
    border-right: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    color: #fff;
}

#subscription #subscription-signup {
    float: left;
    width: 115px;
    white-space: nowrap;
    background-color: #fff;
    padding: 20px;
    border-top-right-radius: 28px;
    border-bottom-right-radius: 28px;
    font-weight: 800;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
}

#subscription *::-webkit-input-placeholder {
    color: #fff;
}

#subscription *:-moz-placeholder {
    /* FF 4-18 */
    color: #fff;
}

#subscription *::-moz-placeholder {
    /* FF 19+ */
    color: #fff;
}

#subscription *:-ms-input-placeholder {
    /* IE 10+ */
    color: #fff;
}
.arrow-down {
    position: absolute;
    bottom: 100px;
    left: 50%;
}
.blog-posts-bg {
    background-color: #28347f;
}

.blog-posts-highlight-bg-color {
    background-blend-mode: multiply !important;
    background-color: #9c9c9c !important;
}

#blog-posts {
    min-height: initial;
    height: initial;

    background-size: cover;
    background-attachment: fixed;
    background-position: center top;
    background-repeat: no-repeat;
    padding-top: 100px;
}

body.ios-version #blog-posts {
    background-attachment: initial;
}

#blog-posts .post {
    height: 168px;
    overflow: hidden;
    position: relative;
    letter-spacing: 0.05em;
    text-align: center;
}

#blog-posts > a {
    color: #b9bdde;

}

#blog-posts > a:hover {
    color: #fff;
}

#blog-posts .post-container {
    width:80%;
}

#blog-posts-link {
    position: absolute;
    top: 128px;
    left: 55px;
    text-transform: uppercase;
}

#blog-posts-link > a {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    display: inline-block;
    border: 1px solid white;
}

#blog-posts-link > a > span {
    display: inline-block;
    position: absolute;
    top: 22px;
    left: 19px;
    width: 23px;
    height: 15px;
    background-image: url('../img/arrow-left.png?imgv=1.2');
}

#blog-posts .post h1 {
    letter-spacing: 0.05em;
    font-size: 36px;
    font-weight: 700;
}

#blog-posts .post h2  {
    font-size: 12px;
    text-transform: uppercase;
    text-decoration: underline;
}
#blog-posts .post .footer {
    font-size: 12px;
    margin: 10px auto;
}

.career-left-bg {
    background-image: url('../img/careers-hero-photo-left-side-hover.jpg?imgv=1.2');
    background-blend-mode: multiply;
    background-color: rgba(10, 36, 106, 0.9);
    -webkit-transition: background-color 300ms linear;
    -moz-transition: background-color 300ms linear;
    -o-transition: background-color 300ms linear;
    -ms-transition: background-color 300ms linear;
    transition: background-color 300ms linear;
}
.career-left-bg:hover {
    background-color: rgba(10, 36, 106, 0);
    -webkit-transition: background-color 300ms linear;
    -moz-transition: background-color 300ms linear;
    -o-transition: background-color 300ms linear;
    -ms-transition: background-color 300ms linear;
    transition: background-color 300ms linear;
}

.career-right-top-bg {
    background-image: url('../img/careers-hero-photo-upper-right-side-hover.jpg?imgv=1.2');
    background-blend-mode: multiply;
    background-color: rgba(10, 36, 106, 0.9);
    -webkit-transition: background-color 300ms linear;
    -moz-transition: background-color 300ms linear;
    -o-transition: background-color 300ms linear;
    -ms-transition: background-color 300ms linear;
    transition: background-color 300ms linear;
}

.career-right-top-bg:hover {
    background-color: rgba(10, 36, 106, 0);
    -webkit-transition: background-color 300ms linear;
    -moz-transition: background-color 300ms linear;
    -o-transition: background-color 300ms linear;
    -ms-transition: background-color 300ms linear;
    transition: background-color 300ms linear;
}

.career-right-bottom-bg {
    background-image: url('../img/careers-hero-photo-lower-right-side-hover.jpg?imgv=1.2');
    background-blend-mode: multiply;
    background-color: rgba(10, 36, 106, 0.9);
    -webkit-transition: background-color 300ms linear;
    -moz-transition: background-color 300ms linear;
    -o-transition: background-color 300ms linear;
    -ms-transition: background-color 300ms linear;
    transition: background-color 300ms linear;
}

.career-right-bottom-bg:hover {
    background-color: rgba(10, 36, 106, 0);
    -webkit-transition: background-color 300ms linear;
    -moz-transition: background-color 300ms linear;
    -o-transition: background-color 300ms linear;
    -ms-transition: background-color 300ms linear;
    transition: background-color 300ms linear;
}

.career-work-at-apzumi-bg {
    background-image: url('../img/careers-photo-under-video.jpg?imgv=1.2');
    background-blend-mode: multiply;
}

#career h1 {
    font-size: 36px;
    font-weight: 900;
    max-width: 780px;
}

#career h2 {
    line-height: 30px;
}

#career-banner h1 {
    color: #28347f;
}

#career-banner.section {
    padding-top: 0;
}

#career-banner .image-container {
    float: left;
    width: 50%;
    align-items: flex-end;
    justify-content: flex-start;

    background-position: center top;
    background-size: cover;
}

#career-banner .image-container h1 {
    font-size: 30px;
    font-weight: 600;
    max-width: 260px;
    margin: 30px;
    text-align: left;
    color: #ffffff;
}

#career-banner .image-container.image-1 {
    height: 100%;
}

#career-banner .image-container.image-2 {
    height: 50%;
}

#career-banner .image-container.image-3 {
    height: 50%;
}

#career-banner .image-container.image-1 h1 {
    margin-bottom: 50px;
}

#career-banner .image-container.image-3 h1 {
    margin-bottom: 50px;
    max-width: 240px;
}

#career #job-offers {
    background-color: #f2f4f8;
    font-size: 21px;
    letter-spacing: 0.03em;
    font-weight: 400;
}

#career #job-offers .container {
    height: 100%
}

#career #job-offers h1 {
    margin-bottom: 40px;
}

#career #job-offers .jobs-list {
    height: calc(100% - 120px);
    overflow-y: auto;
    padding-right: 20px;
}

#career #job-offers .jobs-list::-webkit-scrollbar {
    width: 8px;
}

#career #job-offers .jobs-list::-webkit-scrollbar-thumb {

    background-color: rgba(150,150,150,0.4);
    border-radius: 4px;
}

#career #job-offers .job-row {
    border-bottom: 1px solid #ccc;
}

#career #job-offers .job-row .row {
    float: left;
    width: calc(100% - 150px);
}

#career #job-offers .job-row .row .job-col {
    padding-top: 35px;
    padding-bottom: 35px;
}

#career #job-offers .job-row .title {
    font-weight: 700;
}

#career #job-offers .job-row .apply {
    float: right;
    width: 150px;
    padding-top: 25px;
    padding-bottom: 25px;
}

#career #job-offers .job-row .clear {
    clear: both;
}

#career #job-offers .offer-btn {
    clear: left;
    display: block;
    border: 1px solid #e63842;
    border-radius: 25px;
    padding: 16px 25px;
    width: 100%;
    max-width: 150px;
    margin: 0 auto;
    color: #e63842;
    cursor: pointer;
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;
    float: right;
}

#career #job-offers .offer-btn img {
    float: right;
}

#career #job-offers .offer-btn:hover {
    background-color: #e63842;
    color: #fff;
}

#career #job-offers .offer-btn:hover img {
    content: url('../img/arror-right.png?imgv=1.2');
}

#career #challenge-yourself .col-item {
    text-align: center;
    margin-bottom: 50px;
}

#career #challenge-yourself .col-item img {
    width: 100px;
    margin-bottom: 10px;
}

#career #work-at-apzumi {
    text-align: center;
    background-color: #28347f;
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

body.ios-version #career #work-at-apzumi {
    background-attachment: initial;
}

#career #work-at-apzumi h1{
    color: #fff;
}

#what-is-it-like-video {
    width: 80%;
}

#career .video-overlay-video-btn {
    width: 50px;
    height: 50px;
}

#career #we-offer ul {
    list-style: circle;
}

#career #we-offer li {
    color: #e63842;
    font-size: 26px;
}
#career #we-offer li p {
    color: #28347f;
    margin: 10px 0;
    line-height: 28px;
    font-weight: normal;
    font-size: 21px;
    letter-spacing: 0.04em;

}

#career #join-us {
    color: #ffffff;
    background-color: #29367d;
    z-index: 2;
}

#career #join-us h1 {
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    margin-top: 90px;
    margin-bottom: 15px;
    letter-spacing: 0.04em;
    width: 100%;
}

#career .contact-btn {
    display: block;
    border: 1px solid #ffffff;
    border-radius: 29px;
    padding: 14px 32px;
    width: 165px;
    margin: 60px auto;
    font-weight: 600;
    font-size: 15px;
    line-height: 30px;
    color: #29367d;
    background-color: #ffffff;
    text-transform: uppercase;
}

#career .contact-btn:hover, #career .contact-btn:active, #career .contact-btn:focus {
    color: #ffffff;
    background-color: #29367d;

}

#career .contact-btn:hover img, #career .contact-btn:active img, #career .contact-btn:focus img {
    content: url('../img/arrow-up.png?imgv=1.2');
}

#career .contact-btn img {
    margin-top: 2px;
    float: right;
}

#career-job #job-header {
    height: 320px;
    min-height: 320px;
    font-size: 12px;
    letter-spacing: 0.07em;
    background-color: #29367d;
    background-size: auto 640px;
    background-repeat: no-repeat;
}

#career-job #job-header.job-developer-bg {
    background-image: url('../img/job_developer.jpg?imgv=1.2');
}

#career-job #job-header h1 {
    font-weight: 800;
    font-size: 44px;
}

#career-job #job-body {
    margin-top: 60px;
    height: auto;
    min-height: initial;
}

#career-job #job-body > .container {
    margin: 0 auto;
}

#career-job #job-body  table.content-table {
    width: 100%;
    border-collapse: separate;
    font-size: 16px;

    border: 1px solid #adb2cc;
    border-radius: 5px;

    margin-bottom: 30px;
}

#career-job #job-body  table.content-table thead th {
    padding: 10px 20px;
    font-size: 21px;
    line-height: 1.5em;
    font-weight: 700;
    text-transform: uppercase;
    border-bottom: 1px solid #adb2cc;
}

#career-job #job-body  table.content-table tbody td {
    padding: 10px 20px;
    position: relative;
}

#career-job #job-body  table.content-table tbody th {
    padding: 10px 10px 10px 20px;
    font-weight: 600;
    width: 48%;
}

#career-job #job-body  table.content-table tbody td .gauge-outer-container {
    width: 100%;
    min-width: 200px;
}

#career-job #job-body  table.content-table tbody td .gauge-container {
    float: left;
    width: calc(100% - 50px);
    margin-top: 4px;
}

#career-job #job-body  table.content-table tbody td .value-container {
    float: left;
    width: 50px;
    text-align: right;
}

#career-job #job-body  table.content-table tbody td .gauge {
    width: 100%;
    height: 12px;
    background-color: #dadde8;
    position: relative;
    top: 0;
    border-radius: 3px;
}

#career-job #job-body  table.content-table tbody td .gauge .colored {
    height: 12px;
    background-color: #e63842;
    border-radius: 3px;
}



#career-job #job-body  table.content-table tbody td .gauge-sum-container {
    width: 100%;
    position: relative;
    min-width: 150px;
}

#career-job #job-body  table.content-table tbody td hr {
    border: none;
    height: 2px;
    color: #dadde8;
    background-color: #dadde8;
    margin: 0;
}

#career-job #job-body  table.content-table tbody td .gauge-sum {
    width: 100%;
    height: 12px;
    position: absolute;
    top: -5px;
    border-radius: 3px;
}

#career-job #job-body  table.content-table tbody td .gauge-sum .empty {
    float: left;
    height: 12px;
}

#career-job #job-body  table.content-table tbody td .gauge-sum .colored {
    float: left;
    height: 12px;
    background-color: #e63842;
    border-radius: 3px;
}

#career-job #job-body  table.content-table tbody td .option-img-cont {
    width: 16px;
    float: left;
}

#career-job #job-body  table.content-table tbody td .option-desc-cont {
    width: calc(100% - 24px);
    float: left;
    padding-left: 15px;
}

#career-job #job-body  table.content-table tbody td.operating-systems > span:before {
    font-size: 22px;
    margin-right: 10px;
}

#career-job #job-body  div.grid-table {
    border: 1px solid #adb2cc;
    border-radius: 5px;
    margin-bottom: 30px;
}

#career-job #job-body  div.grid-table-header h2 {
    padding: 0 20px 10px;
    margin-bottom: 0;
    font-size: 21px;
    font-weight: 700;
    text-transform: uppercase;
    border-bottom: 1px solid #adb2cc;
    line-height: 1.5em;
}

#career-job #job-body  div.grid-table-header-small h3 {
    padding: 10px 20px;
    margin: 0;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    color: #e63842;
}

#career-job #job-body  div.grid-table-body  {

    padding: 10px 20px;
}

#career-job #job-body  div.grid-table-body .grid-table-item {
    padding-top: 10px;
    padding-bottom: 10px;
}

#career-job #job-body  div.grid-table-body .field-label {
    font-size: 16px;
    font-weight: 600;
}

#career-job #job-body  div.grid-table-body .grid-table-item .stars {
    text-align: right;
}

#career-job #job-body  div.grid-table-body .grid-table-item .stars img {
    width: 20px;
}

#career-job #job-body  div.grid-table-body .grid-table-item .accept {
    text-align: right;
}

#career-job #job-body  div.grid-table-body .grid-table-item .accept img {
    width: 16px;
}

#career-job .apply {
    margin-top: 40px;
    margin-bottom: 60px;
}

#career-job .offer-btn {
    display: block;
    border: 1px solid #e63842;
    border-radius: 25px;
    padding: 16px 25px;
    width: 100%;
    max-width: 150px;
    margin: 0 auto;
    color: #e63842;
    cursor: pointer;
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    background: transparent;
}

#career-job .offer-btn:hover {
    background-color: #e63842;
    color: #fff;
}

#blog-post {
    letter-spacing: 0.04em;
    background-color: #f2f4f8;
}

#blog-post h1 {
    font-size: 36px;
    font-weight: 600;
}

#blog-post h3 {
    font-size: 21px;
    font-weight: 300;
}

.single-post #top1:not(.top2) {
    background-blend-mode: multiply !important;
    background-color: #9c9c9c !important;
}

.single-career #top1 {
    background-size: auto 640px;
}

#blog-post-header {
    height: 600px;
    padding-top: 0;
    font-size: 12px;
    letter-spacing: 0.07em;
    background-blend-mode: multiply !important;
    background-color: #9c9c9c !important;
}

#blog-post-header .author-container{
    width: 100%;
    text-align: center;
    position: absolute;
    left: 0;
    bottom: 35px;
}

#blog-post-header .author-container img{
    border-radius: 50%;
}

#blog-post-header .post-category {
    text-decoration: underline;
    text-transform: uppercase;
    letter-spacing: 0.21em;

}

#blog-post-header .author-container .post-author-ico {
    margin-bottom: 10px;
}

#blog-post-body {
    width: 100%;
    max-width: 570px;
    margin: 0 auto;
    padding-top: 54px;
    font-size: 16px;
    height: auto;
    min-height: initial;
}

#blog-post-body h2 {
    font-weight: 600;
    margin-bottom: 30px;
    font-size: 21px;
    letter-spacing: 0.05em;
    line-height: 1.4em;
}

#blog-post-body h3 {
    font-weight: 600;
    margin-bottom: 30px;
    font-size: 16px;
    line-height: 1.4em;
    letter-spacing: 0.05em;
}

#blog-post-body h3 .sub-header {
    margin-left: 20px;
    font-weight: normal;
    margin-top: 6px;
}

#blog-post-body h3 .sub-header a {
    color: #e63842;
}

#blog-post-body p {
    margin-bottom: 30px;
    line-height: 1.8em;
    letter-spacing: 0.05em;
}

#blog-post-body em {
    display: block;
    font-size: 21px;
    font-style: italic;
    color: #e63842;
    line-height: 1.4em;
    text-align: center;
    margin: 50px 0;
}

#blog-post-body > p > img {
    width: 100%;
    margin-bottom: 40px;
}

#blog-post-body > p > video {
    width: 100%;
    margin-bottom: 40px;
}

#blog-post-body .author {
    border-top: 1px solid #adb2cc;
    padding-top: 60px;
    padding-bottom: 60px;
}

#blog-post-body .author img {
    border-radius: 50%;
}

#blog-post-body .author .ico-col {
    float: left;
    width: 17%;
}

#blog-post-body .author .ico-col img {
    width: 70px;
    height: 70px;
}

#blog-post-body .author .main-col {
    float: left;
    width: 83%;
}

#blog-post-body .author .main-col h2 {
    font-size: 16px;
    margin: 20px 0 10px 0;
    text-transform: uppercase;
}

#blog-post-body .author div.clear {
    clear: both;
}

#blog-post-like {
    height: auto;
    min-height: initial;
}

#blog-post-like a {
    color: #28347f;
}

#blog-post-like a:hover {
    color: #337ab7;
}

#blog-post-like {
    background-color: #eaecf1;
}

#blog-post-like .header {
    text-align: center;
}

#blog-post-like .header h2{
    text-decoration: underline;
    color: #28347f;
    font-size: 16px;
    margin: 60px 0;
}

#blog-post-like .blog-post-box {
    text-align: center;
    max-width: 265px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
}

#blog-post-like .blog-post-box h2 {
    font-size: 21px;
    font-weight: 600;
    line-height: 1.4em;
}

#blog-post-like .blog-post-box .blog-post-category {
    color: #8b90b2;
    font-size: 12px;
    text-transform: uppercase;
    text-decoration: underline;
    letter-spacing: 0.21em;
}

#blog-post-like .blog-post-box .blog-post-date {
    color: #8b90b2;
    font-size: 12px;
}

#blog-post-like .blog-post-box .blog-post-date span.date{
    margin-right: 10px;
}

#blog-post-like .blog-post-box .blog-post-date span.author{
    margin-left: 10px;
}

.modal-backdrop.in {
    background-color: #28347f;
    filter: alpha(opacity=50);
    opacity: 0.8;
}

.bs-apzumi-modal .modal-dialog {
    margin: 150px auto 0;
    width: 100%;
    max-width: 1030px;
}

.bs-apzumi-modal .modal-dialog .modal-content {
    background: none;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
}

.bs-apzumi-modal .modal-dialog .modal-content .modal-header {
    background: none;
    position: absolute;
    top: -150px;
    right: -125px;
    width: 125px;
    height: 150px;
    border: none;
    padding: 0;
}

.bs-apzumi-modal .modal-dialog .modal-content .modal-header button.close {
    opacity: 1;
}

.bs-apzumi-modal .modal-dialog .modal-content .modal-header button.close img {
    width: 32px;
    height: 32px;
}

.bs-apzumi-modal .modal-dialog .modal-content .modal-body {
    background-color: #eaecf1;
    padding: 100px 120px;
    font-size: 21px;
}

.bs-apzumi-modal .modal-dialog .modal-content .modal-body h1 {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 30px;
}

.bs-apzumi-modal .modal-dialog .modal-content .modal-body h2 {
    font-size: 21px;
    font-weight: 700;
    margin-top: 50px;
    margin-bottom: 0;
}

.bs-apzumi-modal .modal-dialog .modal-content .modal-body p {
    margin-bottom: 26px;
}

.bs-apzumi-modal .modal-dialog .modal-content .modal-body a {
    color: #e63842;
}

.bs-apzumi-modal .modal-dialog .modal-content .modal-body a:hover {
    color: #28347f;
}

.bs-apzumi-modal .modal-dialog .modal-content .modal-body ul {
    list-style: none;
    padding-left: 100px;
}

.bs-apzumi-modal .modal-dialog .modal-content .modal-body li:before {
    content: '→';
    margin:0 15px 0 0;
    color: #e63842;
}

.bs-apzumi-modal.bs-apply-modal {
    padding-right: 15px;
    padding-left: 15px;
}

.bs-apzumi-modal .modal-dialog .modal-content .modal-header {
    top: -75px;
    right: -50px;
    width: 50px;
    height: 75px;
}

.bs-apzumi-modal.bs-apply-modal .modal-dialog {
    max-width: 650px;
    margin: 75px auto 0;
}

.bs-apzumi-modal.bs-apply-modal .modal-dialog .modal-content .modal-body h1 {
    text-align: center;
    margin-top: 0;
    margin-bottom: 30px;
}

.bs-apzumi-modal.bs-apply-modal .recaptcha-container {
    clear: left;
    width: 100%;
    margin-bottom: 22px;
}

.bs-apzumi-modal.bs-apply-modal .choose-file-input {
    width: 100%;
    cursor: pointer;
}

.bs-apzumi-modal.bs-apply-modal .choose-file-btn {
    cursor: pointer;
    position: relative;
    float: right;
    margin-left: -125px;
    background-color: #28347f;
    border: 1px solid #28347f;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    color: #fff;
    font-size: 15px;
}

.bs-apzumi-modal.bs-apply-modal .choose-file-btn:hover {
    background-color: transparent;
    border: 1px solid #28347f;
    color: #28347f;
}

.bs-apzumi-modal.bs-apply-modal .modal-dialog .modal-content .modal-body input.error {
    color: #e63842;
    border: 1px solid #e63842;
    margin-bottom: 10px;
}

.bs-apzumi-modal.bs-apply-modal .modal-dialog .modal-content .modal-body div.error-txt {
    color: #e63842;
    font-size: 14px;
    margin-left: 22px;
    margin-bottom: 10px;
}

.bs-apzumi-modal.bs-apply-modal .modal-dialog .modal-content .modal-body .choose-file-btn.error {
    background-color: #e63842;
    border-color: #e63842;
}

.bs-apzumi-modal.bs-apply-modal .modal-dialog .modal-content .modal-body .choose-file-btn.error:hover {
    color: #e63842;
    background-color: transparent;
}

.bs-apzumi-modal.bs-apply-modal .modal-dialog .modal-content .modal-body .recaptcha-container div.error-txt {
    margin-left: 0;
    margin-bottom: 0;
    margin-top: 10px;
}

.bs-apzumi-modal.bs-apply-modal .modal-dialog .modal-content .modal-body .g-recaptcha.error {
    border: 1px solid #e63842;
}

.bs-apzumi-modal.bs-apply-modal .modal-dialog .modal-content .modal-body div.clear {
    clear: both;
}

#cookie-info {
    width: 100%;
    z-index: 9999;
    position: fixed;
    bottom: 0;
    color: white;
    padding: 30px 0;
    margin: 0 auto;    
    background-color: #28347f;
    border-top: 1px solid #aaaaaa;
}

#cookie-info h3, #cookie-info a {
    color: white;
    margin: 0;
}

#cookie-info h3 {
    margin-bottom: 15px;
}

#cookie-info a:not(.button) {
    text-decoration: underline;
}

#cookie-info .button {
    width: 120px;
    margin-bottom: 0;
    position: relative;
    top: 15px;
    margin:0;
    border: 1px solid white;
    text-align: center;
    border-radius: 20px;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
}

#cookie-info .button:hover {
    background-color: white;
    color: black;
}

#cookie-info > div > div {
    width: calc(100% - 200px);
}

.header-ue-flag-img {
    height: 50px;
}

@media screen and (max-width: 1200px) {
    
    #menu-main-menu > li > a {
        font-size: 12px;
    }
    
    #menu-main-menu > li:not(:last-child) {
        margin-right: 10px;
    }

    #menu-main-menu > li:not(:first-child):before {
        margin-right: 12px;
    }
}

@media screen and (min-width: 992px) {

    #iscribes-realisation {
        background-image: url(../img/iscribes_background.jpg?imgv=1.2);
    }

    #iscribes-realisation #iscribes-image {
        top: 6.5vw;
        left: 112px;
        width: 38.9%;
    }

    #iscribes-realisation .text {   
        width: 38%;
        max-width: 500px;
        left: 52%;    
        position: relative;
    }

    #meedy-realisation #iphone-image {
        top: 42.5%;
        left: 10.5%;
        width: 11.88%;
    }

    #meedy-realisation #circles-image {
        height: 100%;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
    }

    #meedy-realisation #imac-image {
        top: 5%;
        left: 14.8%;
        width: 39.18%;
    }

    #meedy-realisation .text {   
        max-width: 450px;
        width: 37%;
        left: 57%;
        position: relative;    
    }
    
    #medatex-realisation {
        background-image: url(../img/medatex_background.jpg?imgv=1.2);
    }

    #medatex-realisation #screens-image {
        width: 100%;
        left: 0;
        bottom: 0;
    }

    #medatex-realisation .text {   
        width: 400px;
        left: 7%;
        position: relative;
    }
    
    .section {
        height: calc(100vh - 80px);
        min-height: 554px;
    }
    
    .section:first-of-type {
        height: 100vh;
    }
        
    #meedy320-image {
        display: none !important;
    }
    
    .realisation img, .realisation object {
        position: absolute;
        z-index: 90;
    }    
            
    #values .col:not(:last-child) {
        padding-right: 20px;
    }
        
    #values .col:last-child {
        padding-left: 16px;
    }
    
    #people {
        height: calc(100vh - 160px);
        min-height: 458px;
    }
    
    #profile-targeting img {
        position: relative;
        float: right;
        bottom: 150px;
        right: 8px;
    }

    #brand-visibility .section-title, #data-sync .section-title {
        left: -83px;
    }

    #data-sync .container {
        height: 100%;
        max-height: 590px;
    }

    #data-sync .container-content {
        height: 538px;
        bottom: 0;
    }
    
    #ui-ux-experts .section-title {
        top: -60px;
    }

    #software-development .supersection {
        background-image: url('../img/remote_cto.png?imgv=1.2');
        background-position: right calc(202vh - (67.42vw - 28px));
        background-repeat: no-repeat;
        background-size: 61.64vw;
    }

    #ui-ux-experts .pull-right {
        position: relative;
        top: -26px;
    }

    #apps .container {
        max-width: calc(1280px + 2%);
    }
    
    #apps-bg-holder {     
        height: 100%;
        bottom: 0;
        left: 0;
    }
    
    #apps-bg {
        height: calc(98% - 105px) ; 
        left: 0;
        bottom: 0;     
    }

    #apps-top {
        height: 125px;
    }

    #apps-description {
        width: 459px;
    }

    #apps-text-holder {
        height: calc(105px + 2%);
        display: block;
        position: relative;
    }

    #apps-text-content {
        height: calc(98% - 105px);
    }    
    
    #apps-text {
        position: absolute;
        left: 50%;
        bottom: -31px;
        display: block;
        height: 159px;
        transform: translateX(-50%);
    }
    
    #mobile-app-development {    
       background-color: #28347f;
       height: calc(98% - 185px);
       position: absolute;
       bottom: 0;
    }

    #mobile-app-development > div {    
        text-align: center;
        width: calc(50% - 55px);
        height: 100%;
    }
    
    #smartphone {
        height: calc(90vh - 80px);
        display: inline-block;    
    }
     
    .five-sixths {
        width: 83.33%;    
    }
    
    h1.business-intelligence {        
        max-width: 560px;
        width: calc(100% - 400px);
    }   

    #implementation .section-title {
        max-width: 1000px;
        width: 100%;
        margin: 0 auto;
        top: -50px;
    }
    
    .desktop-half-width {
        width: 50%;
    }       

    #implementation img {
        float: right;
        margin-right: 50px;
    }

    #implementation .description {
        float: left;
        padding-left: 15px;
    }       

    #maintenance img {
        float: right;
    }
    
    #technology .section-title {
        width: 200px;
        display: inline-block;
        position: relative;
        top: -40px;
    }    

    #technology img.no-mobile {
        display: block;
        position: relative;
        top: 40px;
        left: 60px;
    }

    #technology .description {
        float: right;
        width: 58.33%;
    }

    #technology .description .desktop-six-sevenths {
        min-width: 512px;
    }
    
    .desktop-six-sevenths {
        width: 85.72%;
    }
    
    #product-strategy .section-title {
        max-width: 1007px;
        position: fixed;
        top: 50%;
        left: calc(50% + 10px);
        transform: translate(-50%, -230px);
        z-index: 20;
    }    
    
    #step3 img {
        width: 394px;
        height: 244px;
    }

    #step3 .step-text {
        margin: 0;
        padding: 0;
        letter-spacing: 0.01em;
    }

    #step3 h1 {
        max-width: 300px;
    }    
    
    .step img {
        width: 270px;
        z-index: 10;
    }

    #step1 .step-text {
        min-width: 515px;
    }

    #step2 h1 {
        max-width: 300px;
    }

    #step2 img {
        height: 270px;
    }

    #step1 img {
        height: 290px;
    }    
    
    .desktop-pull-right {
        float: right;
    }

    .desktop-pull-left {
        float: left;
    }
    
    .step .step-text {        
        padding: 0 6px;
        margin: 0 20px;
        width: calc(100% - 400px);
        min-width: 400px;
    }

    .step-text p {    
        width: calc(100% - 48px);
    }
    
    .realisation-image img {
        width: 100%;
    }
        
    .realisation-image[data-realisation="meedy"][data-index="0"] img{
        width: 80%;
    }
    
    .realisation-image[data-realisation="meedy"][data-index="1"] img {
        width: 75%;
        top: 73%;
    }

    .realisation-image[data-realisation="meedy"][data-index="2"] img {
        top: 79%;
    }

    .realisation-image[data-realisation="meedy"][data-index="3"] img {
        top: 38%;
    }

    .realisation-image[data-realisation="meedy"][data-index="4"] img {
        top: 45%;
    }

    .realisation-image[data-realisation="medatex"][data-index="1"] img {
        width: 79%;
        top: 73%;
        left: 50.5%;
    }

    .realisation-image[data-realisation="medatex"][data-index="2"] img {
        top: 79%;
    }

    .realisation-image[data-realisation="iscribes"][data-index="0"] img {
        top: 59%;
    }

    .realisation-image[data-realisation="iscribes"][data-index="1"] img {
        top: 28.5vw;
    }

    .realisation-image[data-realisation="iscribes"][data-index="2"] img {
        top: 23.5vw;
    }
    
    #technology-stack {        
        height: 180px;
    }
    
    #technology-stack #technologies {
        text-align: center;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -16px);
        height: 69px;
        width: 100%;
        max-width: 1280px;
        padding: 0 40px;
    }
    
    #technology-stack h3 {        
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -70px);
    }
        
    #technology-stack img {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }
        
    #technology-stack img[data-technology = 'angularjs'] {
        transform: translateY(-20px);
    }

    #technology-stack img[data-technology = 'hibernate'] {
        transform: translateY(-18px);
    }

    #technology-stack img[data-technology = 'nodejs'] {
        transform: translateY(-16px);
    }

    #realisation-description {
        height: calc(100vh - 280px);
        min-height: 338px;
    }   

    #maintenance .section-title {
        width: 300px;
        display: inline-block;
        margin-top: 18px;
    }
    
    .desktop-row-reverse {   
        -webkit-box-direction: reverse;
        -moz-box-direction: reverse;    
        -webkit-box-orient: horizontal;
        -moz-box-orient: horizontal;
        -webkit-flex-direction: row-reverse;
        -ms-flex-direction: row-reverse;
        flex-direction: row-reverse;
    }
}

@media screen and (min-width: 992px) and (max-height: 810px) {
    #contact-form h1 {
        font-size: 28px;
    }
    
    #contact-form h2 {
        font-size: 15px;
    }

    #contact-form div.error-txt {
        font-size: 10px;
        margin-bottom: 5px;
        margin-top: -5px;
    }

    #contact-form .contact-recaptcha-container div.error-txt {
        margin-top: 5px;
    }

    #contact-form .contact-recaptcha-container {
        margin-bottom: 10px;
    }

}

@media screen and (min-width: 992px) and (max-height: 699px) {
    input[type=text], textarea {
        font-size: 12px;
        padding: 10px;
    }
    
    #contact-form textarea {
        height: 98px;
    }

    .bs-apzumi-modal.bs-apply-modal .choose-file-btn {
        font-size: 12px;
        padding: 10px;
    }
    
    .person-description-container {
        -webkit-box-align: start;
        -moz-box-align: start;
        -webkit-align-items: flex-start;
        -ms-flex-align: flex-start;
        align-items: flex-start; 
    }
}

@media screen and (max-height: 665px) {
    #apps h1 {
        margin: 0 auto;
    }
}
