.only-mobile {
    display: none;
}

#wrapper {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;

    /* Prevent native touch events on Windows */
    -ms-touch-action: none;

    /* Prevent the callout on tap-hold and text selection */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    /* Prevent text resize on orientation change, useful for web-apps */
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    -o-text-size-adjust: none;
    text-size-adjust: none;
}

#scroller {
    position: absolute;

    /* Prevent elements to be highlighted on tap */
    -webkit-tap-highlight-color: rgba(0,0,0,0);

    /* Put the scroller into the HW Compositing layer right from the start */
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
}



@media screen and (max-width: 1279px) {
    .bs-apzumi-modal .modal-dialog  {
        max-width: 724px;
    }

    .bs-apzumi-modal .modal-dialog .modal-content .modal-header {
        right: 0;
        justify-content: flex-end;
    }

    .bs-apzumi-modal .modal-dialog  .modal-content .modal-body {
        padding: 62px 62px;
        font-size: 18px;
    }

    .bs-apzumi-modal .modal-dialog  .modal-content .modal-body  h1 {
        font-size: 24px;
    }

    .bs-apzumi-modal .modal-dialog  .modal-content .modal-body h2 {
        font-size: 18px;
    }
}

body.mobile #top1 {    
        background-color: transparent;
        background-image: none !important;
}

body.mobile #top1.top2 {
    background-color: #28347f;
}

body.mobile.single-post #top1:not(.top2) {
        background-color: transparent !important;
}

@media screen and (max-width: 991px) {
    #customer-say {
        height: initial;
        min-height: initial;
        padding: 0;
    }
    
    body.single-post #top1:not(.top2) {
        background-color: transparent !important;
    }

    #video-overlay-h1 {
        top: 10%;
        font-size: 20px;
    }

    #video-overlay-video-btn{
        height: 60px;
        width: 60px;
    }    
    
    #about .about-person {
        padding-top: 0;
    }

    .bs-apzumi-modal .modal-dialog  {
        max-width: 280px;
    }

    .bs-apzumi-modal .modal-dialog .modal-content .modal-header {
        height: 60px;
        top: -60px;
    }

    .bs-apzumi-modal .modal-dialog .modal-content .modal-header button.close img {
        width: 18px;
        height: 18px;
    }

    .bs-apzumi-modal .modal-dialog  .modal-content .modal-body {
        padding: 20px 20px;
        font-size: 16px;
    }

    .bs-apzumi-modal .modal-dialog  .modal-content .modal-body  h1 {
        font-size: 21px;
        margin-bottom: 23px;
    }

    .bs-apzumi-modal .modal-dialog  .modal-content .modal-body h2 {
        font-size: 16px;
        margin-top: 20px;
    }

    .bs-apzumi-modal .modal-dialog .modal-content .modal-body p {
        margin-bottom: 20px;
    }

    .bs-apzumi-modal .modal-dialog .modal-content .modal-body ul {
        list-style: none;
        padding-left: 0;
    }

    .bs-apzumi-modal .modal-dialog .modal-content .modal-body li:before {
        margin:0 8px 0 0;
    }
    
     .about-lukasz-bg {
        background-image: url('../img/apzumi_about_lukasz.jpg?imgv=1.2');
        background-blend-mode: normal;
    }

    .about-lukasz-bg:hover {
        -moz-transition: none;
        -webkit-transition: none;
        -o-transition: color 0 ease-in;
        transition: none;
    }

    .about-asia-bg {
        background-image: url('../img/apzumi_about_asia.jpg?imgv=1.2');
        background-blend-mode: normal;
    }

    .about-asia-bg:hover {
        -moz-transition: none;
        -webkit-transition: none;
        -o-transition: color 0 ease-in;
        transition: none;
    }

    .about-mikolaj-bg {
        background-image: url('../img/apzumi_about_mikolaj.jpg?imgv=1.2');
        background-blend-mode: normal;
    }

    .about-mikolaj-bg:hover {
        -moz-transition: none;
        -webkit-transition: none;
        -o-transition: color 0 ease-in;
        transition: none;
    }

    .about-karol-bg {
        background-image: url('../img/apzumi_about_karol.jpg?imgv=1.2');
        background-blend-mode: normal;
    }

    .about-karol-bg:hover {
        background-color: rgba(10, 36, 106, 0);
        -moz-transition: none;
        -webkit-transition: none;
        -o-transition: color 0 ease-in;
        transition: none;
    }

    #about .section {
        height: initial;
        width: 100%;

    }

    #about .about-person .person-description-container {
        margin-right: 0;
    }

    #about .about-person .img-container {
        height: 100vw;
    }

    #about .about-person .desc-container {

    }

    #blog-post-body .author .ico-col {
        width: 100%;
    }

    #blog-post-body .author .main-col {
        width: 100%;
    }
    
    #career-banner {

    }

    #career-banner .image-container.image-1 {
        height: 50vw;
        width: 100%;
    }

    #career-banner .image-container.image-2 {
        height: 50vw;
        width: 100%;
    }

    #career-banner .image-container.image-3 {
        height: 50vw;
        width: 100%;
    }

    #career-banner .image-container {
        float: none;
    }

    #career hr {
        margin: 0;
    }

    #career #job-offers {
        padding-bottom: 20px;
    }

    #career #job-offers .job-row {
        padding: 10px 0;
    }

    #career #job-offers .job-row .row {
        font-size: 18px;
    }

    #career #job-offers .job-row .row .job-col {
        padding-top: 0;
        padding-bottom: 0;
    }

    #career #job-offers .job-row .title {

    }

    #career #job-offers .job-row .apply {
        float: right;
        width: 100px;
        padding-top: 17px;
        padding-bottom: 17px;
    }

    #career #job-offers .offer-btn {
        border-radius: 22px;
        padding: 12px 10px;
        max-width: 150px;
        font-size: 14px;
        line-height: 14px;
    }

    #career #we-offer li {
        font-size: 22px;
    }

    #career #we-offer li p {
        font-size: 18px;
    }

    #career .career-video-container {
        padding-top: 43px;
        padding-bottom: 58px;
    }

    #career-job .container {
        max-width: 500px;
    }

    #career-job #job-body div.grid-table-header h2 {
        max-width: initial !important;
    }

    #career-job #job-body div.grid-table-header-small h3 {
        max-width: initial !important;
    }

    #career-job #job-body table.content-table tbody td .gauge-sum-container {
        min-width: 100px;
    }

    #career-job #job-body table.content-table tbody td .gauge-outer-container {
        min-width: 100px;
    }
    
    .only-mobile {
        display: block;
    }

    .no-mobile {
        display: none !important;
    }

    #hero {
        background-size: cover;
    }

    #slogan-text1 {
        padding-top: 80px;
        width: auto;
        margin: 0;
        height: 100vh;
    }
    
    #slogan-text1-slide {
        height: 200px;
        margin-top: 20px;
    }
    
    #slogan-text1-slide div {
        padding: 0 20px;
    }
    
    #slogan-text1-slide #slogan-subtext1 h3,
    #slogan-text1-slide #slogan-subtext2 h3 {
        padding: 0;
        max-width: 280px;
    }

    #slogan-text1 h1 {
        font-size: 36px;
        padding: 0 20px;
        line-height: 45px;
        margin: 0 auto;
    }

    #slogan-text1 h3 {
        font-size: 18px;
        padding: 21px 22px;
        line-height: 29px;
        margin: 0 auto;

    }

    #slogan-text2 {
        width: auto;
        margin: 0;
        padding: 40px 0;
    }

    #slogan-text2 h1 {
        font-size: 38px;
        line-height: 45px;
        margin: 40px auto;
    }

    #steps {
        width: 178px;
        margin: 0 auto;
        overflow: auto;
        text-align: center;
    }

    #steps .step {
        font-size: 18px;
        text-align: center;
        margin-bottom: 27px;
        margin-right: 0;
    }

    #steps .step img {
        margin-left: auto;
    }

    #steps .step .step-text {
        margin-top: 20px;
        text-align: center;
    }

    #steps .step .no {
        float: none;
    }

    #steps .step .text {
        float: none;
        width: auto;
        text-align: center;
    }

    #top1 {
        height: 80px;
        padding: 0 20px;
        background-color: transparent;
        background-image: none !important;
    }

    .logo {
        width: 122px;
    }
    
    .logo img {
        width: 100%;
    }
    
    #top1.top2 .logo {
        width: 122px;
    }
    
    #top1.top2 .logo img {
        width: 100%;
    }

    #top1 .menu {
        display: none;
    }

    #top1 .right {
        width: auto;
    }

    #top1 .right a:first-child {
        display: none;
    }

    #top1 .right .menu-btn {
        margin-right: 20px;
        padding: 10px;
        margin-top: -10px;
    }

    .container {
        width: 100%;
    }

    #values .col {
        width: 100%;
    }

    #values h1 {
        font-size: 22px;
    }

    #values h2 {
        font-size: 16px;
        line-height: 22px;
        margin: 10px 0;
    }

    #people h2 {
        margin: 10px 0;
    }
    
    #values .col:first-child {
        margin-top: 14px;
    }

    .realisation-mobile {
        display: none;
    }
    
    #realisations {
        padding: 0;
    }

    #realisations #realisation-meedy {
        position: static !important;
        height: 320px;
        width: auto;
    }

    #realisations #realisation-iscribes {
        position: static !important;
        height: 320px;
        width: auto;
    }

    #realisations #realisation-medatex {
        position: static !important;
        height: 320px;
        width: auto;
    }

    #contact {
        padding: 0 0 60px;
        text-align: center;
    }

    #contact h1 {
        font-size: 32px;
        padding: 0 32px;
        line-height: 36px;
        margin-top: 30px;
    }

    #contact h2 {
        font-size: 20px;
        font-weight: 300;
        width: auto;
        padding: 5px 20px;
    }

    .contact-btn {
        width: 100%;
        max-width: 272px;
        height: 62px;
        margin: 40px auto 0;
    }
    
    #our-work-link > h3 {
        font-size: 14px;
        left: 82px;
    }

    #footer-logo {
        margin-left: 0;
        float: none;
        width: auto;
    }

    #footer-logo span {
        display: block;
        margin-left: 71px;
        position: static !important;
    }

    #footer-menu {
        display: none;
    }
    
    #footer-areas > div:nth-of-type(-n+3) {
        margin-bottom: 25px;
    }

    .navigation {
        padding: 0 20px;
    }

    .navigation .back {
        border: 1px solid #6a73a4;
        padding: 11px;
    }

    .navigation .next {
        border: 1px solid #6a73a4;
        padding: 11px;
        text-align: center;
        width: 43px;
        margin-left: -1px;
    }

    .navigation .prev {
        border: 1px solid #6a73a4;
        padding: 11px;
        text-align: center;
        width: 43px;
    }

    #realisations .col.description {
        clear: left;
        padding: 20px;
        float: none;
        width: auto;
    }

    #realisations .col.description .img {
        text-align: center;
    }

    #realisations .col.description .img img {
        width: 100%;
    }

    #realisations .col.description h1 {
        font-size: 21px;
        line-height: 25px;
        width: auto;
    }

    #realisations .col.description h2 {
        font-size: 16px;
        line-height: 24px;
        width: auto;
    }

    #realisations .iscribes-mobile {
        background-image: url('../img/iscribes-mobile-bg.jpg?imgv=1.2');
        background-size: cover;
        background-position: right;
    }

    #realisations .medatex-mobile {
        background-image: url('../img/medatex-mobile-bg.jpg?imgv=1.2');
        background-size: cover;
        background-position: center;
    }

    .realisation.only-mobile {
        display: none;
    }

    #realisation-meedy .section-title {
        margin-top: 0;
        margin-left: 20px;
    }
    
    #headmatters {
        background-position: center 80px;
    }

    /** IT CONSULTING */
    #it-consulting-hero {
        padding: 16px;
        height: auto;
    }

    #it-consulting-hero h1 {
        font-size: 36px;
        line-height: 39px;
        padding-top: 119px;
    }

    #it-consulting-hero h3 {
        font-size: 18px;
        width: auto;
        padding-bottom: 104px;
    }

    #partnership {
        padding: 0 0 20px 0;
    }

    #partnership > div > h1 {
        font-size: 21px;
        line-height: 29px;
        margin: 25px 18px;
    }

    #partnership > div > h2 {
        font-size: 16px;
        margin: 0 19px;
    }

    #partnership .img {
        text-align: center;
        margin-top: 37px;
        margin-bottom: 20px;
    }

    #it-consulting-steps {
        padding: 0;
        background-size: cover;
    }

    #it-consulting-steps .no-text {
        font-size: 16px;
    }

    #it-consulting-steps .no {
        font-size: 56px;
    }

    #it-consulting-steps .step-title {
        font-size: 24px;
    }

    #it-consulting-steps .step-text {
        font-size: 16px;
        width: auto;
    }

    #step2 .step-title {
        width: auto;
    }

    #step3 .step-title {
        float: none;
        width: auto;
    }

    #step3 .step-text {
        float: none;
        width: auto;
    }

    #step4 .pull-right {
        float: none;
    }

    #step4 .step-title {
        width: auto;
    }

    #step4 .step-text {
        width: auto;
    }

    #step5 {
        padding-bottom: 28px;
    }

    #step5 .step-title {
        width: auto;
    }

    #step5 .step-text {
        width: auto;
    }


    /** SOFTWARE DEVELOPMENT */
    #software-development-hero {
        height: auto;
        background-position: calc(50% - 13px) -36px;
    }

    #software-development-hero h1 {
        font-size: 28px;
        line-height: 36px;
        width: auto;
    }

    #software-development-hero h3 {
        font-size: 18px;
        width: auto;
        line-height: 23px;
    }

    #ui-ux-experts {
        position: static;
        overflow: hidden;
    }
    
    #ui-ux-experts .pull-right {
        float: none !important;
    }

    #ui-ux-experts .container {
        height: auto;
    }

    #ui-ux-experts #notebook {
        width: 100%;
        max-width: 753px;
        position: static;
        margin-top: 40px;
        display: block;
        margin-right: auto;
        margin-left: auto;
    }

    #ui-ux-experts h1.ui-ux {
        margin: 0 0 20px;
        font-size: 21px;
        line-height: inherit;
        width: auto;
    }

    #ui-ux-experts h2.ui-ux {
        width: auto;
        font-size: 16px;
        line-height: 22px;
    }

    #ui-ux-experts .section-title.remote-cto {
        margin-top: 34px;
    }

    #ui-ux-experts h1.remote-cto {
        width: auto;
        margin-left: 20px;
        margin-right: 20px;
        font-size: 21px;
        line-height: 24px;
        margin-top: 35px;
    }

    #ui-ux-experts h2.remote-cto {
        width: auto;
        margin: 24px 20px 0;
        font-size: 16px;
        line-height: 20px;
    }

    #ui-ux-experts img.remote-cto {
        width: 320px;
        position: static;
        float: none;
        margin: -52px auto 0;
        display: block;
    }

    #smartphone {
        max-width: 364px;
        width: 100%;
        display: block;
        margin: 36px auto;
        position: static;
    }
    
    #apps-bg-holder {
        height: calc(100% - 310px);
        top: 121px;
    }
    
    #apps-bg {
        height: 100%;
    }

    #apps-text {
        position: static;
        display: block;
        font-size: 100px;
        line-height: 100px;
        margin-bottom: 40px;
    }

    #apps .section-title {
        margin: 0;
    }

    #apps h1 {
        font-size: 21px;
        line-height: 28px;
        margin: 25px 0;
    }

    #apps h2 {
        width: auto;
        font-size: 16px;
        line-height: 23px;
    }
    
    #mobile-app-development {
        z-index: 1;
        position: relative;
        padding: 0 20px;
    }

    #custom-software-development {
        overflow: visible;
    }

    #custom-software-development h1.custom-software-development {
        width: 100%;
        margin: 20px 0;
        font-size: 21px;
        line-height: 26px;
    }

    #custom-software-development h2.custom-software-development {
        width: auto;
        margin: 20px 0;
        font-size: 16px;
        line-height: 22px;
    }

    #custom-software-development img#stopwatch {
        float: none;
    }
    
    .scrum-dots {
        margin: 5px 0;
    }

    #custom-software-development #scrum {
        float: none;
        width: 100%;
        max-width: 280px;
        background-size: contain;
        font-size: 16px;
        padding: 37px 43px;
        height: 220px;
    }    

    #custom-software-development #software-development-cloud {
        float: none;
        margin: 0 auto;
        display: block;
    }

    #custom-software-development .section-title.business-intelligence {
        padding-top: 35px;
    }

    #custom-software-development #charts {
        float: none;
        margin: 0;
        text-align: center;
    }

    #custom-software-development .chart2 {
        width: 100%;
        max-width: 320px;
        position: static;
        margin-left: -45px;
    }
    
    #business-intelligence .chart2 {
        width: 100%;
        max-width: 398px;
        margin-left: -45px;
    }

    h1.business-intelligence {
        float: none;
        font-size: 21px;
        line-height: 26px;
        width: auto;
        margin: 30px 20px 0;
        padding-bottom: 30px;
    }
        
    #top1 .logo img {
        width: 122px;
    }

    #security {
        height: auto;
    }

    #security h1 {
        width: auto;
        font-size: 21px;
        line-height: 26px;
        margin: 20px;
    }

    #security h2 {
        width: auto;
        margin: 20px 20px 0;
        font-size: 16px;
        line-height: 22px;
        padding-bottom: 45px;
    }

    #implementation .description, #maintenance .description, #technology .description {
        position: static;
        padding-left: 0;
        margin: 0 auto;
    }

    .description h1 {
        font-size: 21px;
        line-height: 26px;
        width: auto !important;
        margin: 30px;
    }

    .description h2 {
        width: 100%;
        margin: 30px auto 0;
        max-width: 456px;
        font-size: 16px;
        line-height: 22px;
    }

    #implementation .description img {
        margin: 0 auto;
        width: 100%;
        max-width: 545px;
        display: block;
    }

    #maintenance .description h2 {
        margin: 30px 20px 0 20px;
    }

    #maintenance .description img {
        margin: 0 auto;
        width: 235px;
    }

    #technology .description img {
        margin: 33px auto;
        width: 220px;
    }

    /*** GROWTH ENGINEERING */
    #growth-hero {
        height: auto;
    }

    #growth-hero h1 {
        font-size: 28px;
        line-height: 36px;
        width: auto;
    }

    #growth-hero h3 {
        font-size: 18px;
        width: auto;
        line-height: 24px;
        margin-top: 20px;
    }

    #moving-business .section-title {
        margin-right: 100px;
    }

    #moving-business h1 {
        width: auto;
        font-size: 21px;
        line-height: 30px;
        margin: 20px;
    }

    #moving-business h2 {
        width: auto;
        margin: 20px 0;
        font-size: 16px;
        line-height: 22px;
    }

    #moving-business img.only-mobile {
        margin: 0;
        display: block;
        float: none;
    }

    #profile-targeting .description {
        position: static;
    }

    #profile-targeting h1 {
        font-size: 21px;
        line-height: 26px;
    }

    #profile-targeting img.only-mobile {
        margin: 15px auto 0;
        width: 100%;
        max-width: 370px;
        display: block;
    }

    #profile-targeting h2 {
        font-size: 16px;
        line-height: 22px;
        margin-top: 30px;
        float: none;
    }

    #brand-visibility .description {
        width: auto;
        margin: 0;
    }

    #brand-visibility .description h1 {
        font-size: 21px;
        line-height: 26px;
    }

    #brand-visibility .description img {
        width: 280px;
        margin: 20px auto;
        display: block;
    }

    #brand-visibility .description h2 {
        font-size: 16px;
        line-height: 22px;
    }

    #data-sync h1 {
        width: auto;
        margin: 20px;
        font-size: 21px;
        line-height: 26px;
    }

    #data-sync img {
        width: 280px;
        margin-top: 30px;
        margin-left: -22px;
    }

    #data-sync h2 {
        width: auto;
        font-size: 16px;
        line-height: 22px;
        margin: 20px 20px 0;
    }


    /** CONTACT */

    #contact-hero h1 {
        font-size: 28px;
    }

    #addresses {
        overflow: auto;
    }

    .address {
        padding: 10px;
    }

    .address h1 {
        font-size: 16px;
    }

    #contact-form form {
        width: 100%;
        max-width: 400px;
    }

    #contact-form .col {
        float: none;
        width: 100%;
    }

    #map {
        position: relative;
    }

    #map_canvas {
        height: calc(100% - 160px);
        min-height: 300px;
    }

    #map .poland {
        display: none;
    }

    #map .germany {
        display: none;
    }

    #map .poland, #map .usa, #map .germany {
        position: absolute;
        bottom: 40px;
        color: #fff;
        left: 0;
        right: 0;
        text-align: center;
        font-size: 16px;
    }

    #map .poland strong, #map .usa strong, #map .germany strong {
        font-size: 21px;
    }

    /** ABOUT */
    #business-profile {
        background-size: cover;
    }

    #business-profile h1 {
        font-size: 28px;
        line-height: 34px;
        padding: 64px 0 0;
        margin: 20px;
    }

    #business-profile h2 {
        font-size: 18px;
        padding: 0 0 105px;
        margin: 20px 20px 0;
    }

    #values.values-about .container > h1 {
        margin-left: 20px;
        margin-right: 45px;
        margin-top: 20px;
        font-size: 21px;
    }

    #values.values-about .col.first {
        margin-top: 20px;
    }

    #values.values-about .col h1 {
        font-size: 16px;
    }

   #team h1 {
       width: auto;
       margin: 20px;
       font-size: 21px;
       line-height: 26px;
   }

   #team h2 {
       width: auto;
       margin: 20px 20px 0;
       font-size: 16px;
   }

   #portfolio h1 {
       width: auto;
       font-size: 21px;
       line-height: 26px;
       margin: 20px 20px 0;
   }

    #side-menu ul.menu > li.menu-has-children > ul.sub-menu {
        display: none;
    }
    
     
    h1, h2, h3, h4, p {
        max-width: 480px !important;
        margin-left: auto !important;
        margin-right: auto !important;
    }
    
    h2 {
        font-size: 16px;
    }
    
    #top1 {
        background-color: transparent;
        background-image: none;
    }
    
    .our-work-medatex-bg {
        background-image: url(../img/medatex-bg-320.jpg?imgv=1.2);
    }    
    
    .container.padded {
        padding: 40px 20px;
    }
    
    .section.slogan {
        padding: 80px 0 40px;
        min-height: 100vh;
    }
    
    #our-work-link {
        top: 100px;
        left: 20px;
    }
    
    #meedy {
        background-image: url(../img/meedy_top_bg_320.png?imgv=1.2);
    }
    
    #iscribes {
        background-image: url(../img/iscribes_top_bg_320.png?imgv=1.2);
    }
    
    #medatex {
        background-image: url(../img/medatex_top_bg_320.png?imgv=1.2);
    }
    
    .realisation-hero.slogan {
        background-position: center 80px;
    }
    
    #images {
        height: calc(100vh - 80px);
    }
    
    .realisation {
        height: 100%;
    }
    
    .realisation-image img {
        height: 100%;
    }
    
    #realisation-page .slogan {
        height: 100vh;
    }
    
    .realisation-hero h1 {
        font-size: 36px;
    } 
    
    .realisation-hero h2 {
        font-size: 16px;
    }
    
    #realisation-page .realisation-header {
        padding: 0 20px;
    }
    
    #our-work {
        padding-top: 80px;
        padding-bottom: 0;
    }

    #our-work .realisation-header {
        margin-left: 0;
    }

    #blog-posts .post-header {
        margin-left: 0;
    }
    
    #realisations img {
        margin: 0 auto;
    }
    
    #realisations #meedy320-image {
        margin-top: -40px;
    }
    
    #meedy-realisation {
        background-image: url(../img/meedy320bg.svg);
        background-position: center;
        background-size: cover;
    }
    
    #medatex-realisation {
        background-image: url(../img/medatex320bg.jpg?imgv=1.2);
        background-position: left;
        background-size: cover;
    }
    
    #iscribes-realisation {
        background-image: url(../img/iscribes320bg.jpg?imgv=1.2);
        background-position: center;
        background-size: cover;
    }
    
    .small-hidden, .visit-area, .realisation-footer,
    #screens-image, #iscribes-image, #imac-image, 
    #iphone-image, #circles-image, .realisation hr {
        display: none !important;
    }
    
    .small-flex {    
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-direction: normal;
        -moz-box-direction: normal;
        -webkit-box-orient: horizontal;
        -moz-box-orient: horizontal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: center;
        -moz-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-align-content: stretch;
        -ms-flex-line-pack: stretch;
        align-content: stretch;
        -webkit-box-align: center;
        -moz-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
    }
    
    .small-vertical {
            -webkit-box-orient: vertical;
            -moz-box-orient: vertical;
            -webkit-flex-direction: column;
            -ms-flex-direction: column;
            flex-direction: column;
    }
    
    .small-reverse-vertical {    
        -webkit-box-direction: reverse;
        -moz-box-direction: reverse;    
        -webkit-box-orient: vertical;
        -moz-box-orient: vertical;
        -webkit-flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
    }
    
    .small-align-center {
            -webkit-box-align: center;
            -moz-box-align: center;
            -webkit-align-items: center;
            -ms-flex-align: center;
            align-items: center;
    }
    
    .small-align-start { 
        -webkit-box-align: start;
        -moz-box-align: start;
        -webkit-align-items: flex-start;
        -ms-flex-align: flex-start;
        align-items: flex-start;  
    }
    
    .small-justify-center {
        -webkit-box-pack: center;
        -moz-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
    
    .small-justify-start {
        -webkit-box-pack: start;
        -moz-box-pack: start;
        -webkit-justify-content: flex-start;
        -ms-flex-pack: flex-start;
        justify-content: flex-start;
    }
    
    #images #next, #images #previous {
        display: none;
    }
    
    .realisation-hero > .realisation-wrapper {
        position: relative;
        top: 100px;
    }
    
    .realisation-hero {
        padding-left: 20px;
        padding-right: 20px;
    }
    
    .realisation .text {
        width: 100%;
        text-align: center;
        padding: 0 20px;
        margin: 0 auto;
        margin-top: 40px;
    }
    
    .realisation .text > * {
        max-width: 400px;
        margin: 0 auto;
        width: 100%;
    }
    
    #realisations h1 {
        font-size: 31px;
    }
    
    #realisations h2 {
        font-size: 16px;
        margin: 0 auto;
    }
    
    #side-menu {
        left: 0;
        width: 100%;
    }
    
    .area {
        margin-bottom: 40px;
    }
    
    .area .text {
        font-size: 18px;
        line-height: 18px;
    }
    
    .area img {
        margin-left: 0;
    }
    
    .arrow-down {
        bottom: 40px;
    }
    
    #slogan.no-fixed {
        background-attachment: scroll;
    }
    
    .slogan h1 {
        margin-top: 0;
    }
    
    .slogan h2 {
        margin-bottom: 0;
    }
    
    #slogan-text2 > div {
        margin-bottom: 50px;
    }
    
    #about-hero h1 {
        font-size: 28px;
    }
    
    #about-hero h2 {
        font-size: 18px;
    }
    
    #contact-hero h1 {
        width: auto;
    }
    
    .address {
        height: 160px;
    }
    
    .send-btn {
        height: 62px;
    }
        
    #about .section:not(.slogan) h1 {
        font-size: 21px;
        margin: 26px 0 0;
    }
    
    #about .section:not(.slogan) .col h1 {
        font-size: 16px;
        text-transform: uppercase;
        font-weight: 900;
    }
    
    #remote-cto {
        overflow: visible;
        overflow-x: hidden;
        overflow-y: visible;
    }
    
    #remote-cto-image {
        width: 110%;
        max-width: 500px;
        position: relative;
        top: -22px;
    }
    
    h1.remote-cto {
        margin-top: 0;
        font-size: 21px;
        line-height: inherit;
    }
    
    h2.remote-cto {
        font-size: 16px;
    }
    
    #remote-cto .section-title {
        padding-left: 20px;
    }
    
    #remote-cto .container {
        padding-top: 0;
    }
    
    #apps-description {
        max-width: 445px;
    }

    #apps-description.full-height {
        height: auto !important;
    }
    
    #product-strategy .section-title {
        margin: 40px 0 0 20px;
        width: auto;
    }
    
    .step .no {
        font-size: 60px;
        line-height: 60px;
        margin-bottom: 2px;
    }
    
    .step-text h1 {
        font-size: 21px;
        line-height: inherit;
    }
    
    .step-text p {
        font-size: 16px;
    }
    
    .step img {
        width: 80%;
        max-width: 385px;
        margin: 0 auto;
    }
    
    #step3 img {
        width: 95%;
        max-width: 420px;
    }
    
    .step .step-text {
        margin: 0 auto;
    }
    
    #technology-stack > h3 {
        padding-top: 40px;
        margin: 0 auto 40px;
        text-align: center;        
    }
    
    #technology-stack > #technologies > * {
        margin-bottom: 40px;
    }
    
    #contact-form .col, #realisation-description .col {
        float: none;
        width: 100%;
        max-width: 500px;
        padding: 0;
        margin: 0 auto;
    }    
    
    #main-references {
        height: auto;
        padding: 60px 30px;
        font-size: 16px;
    }

    #main-references h1 {
        font-size: 31px;
    }
        
    #accomplishments-container {
        width: 100%;
        max-width: 600px;
        height: 320px;
        position: relative;
    }    
    
    #blog-posts {
        padding-top: 80px;
    }

    #blog-posts .post h1 {
        font-size: 31px;
    }

    #blog-posts .post h2  {
        font-size: 11px;
        text-transform: uppercase;
        text-decoration: underline;
    }
    #blog-posts .post .footer {
        font-size: 11px;
        margin: 10px auto;
    }
    
    #blog-post-header {
        min-height: initial;
    }

    #blog-post-body {
        text-align: center;
    }

    #blog-post-body h3 .sub-header {
        margin-left: 0;
        margin-right: 0;
    }

    #blog-post-body h3 .sub-header a {
        word-break: break-all;
    }
    
    #cookie-info > div > div {
        width: 100%;
        max-width: 100%;
        text-align: center;
    }
    
    #cookie-info h3 {
        width: 100%;
        max-width: 100%;
    }
    
    #cookie-info .button {
        margin: 25px auto 0;
    } 
}

@media screen and (max-width: 767px) {
    #footer-areas >  div:nth-of-type(-n+3) {
        margin-bottom: 25px;
    }
    
    #footer-areas > div:nth-of-type(n+4) {
        margin-bottom: 25px;
    }
    
    #footer-areas .spacer {
        display: none;
    }
}

@media screen and (max-width: 660px) {
    #video-overlay-h1 {
        font-size: 16px;
    }

    #video-overlay-video-btn{
        height: 50px;
        width: 50px;
    }
    
    #main-references {
        font-size: 14px;
    }

    #main-references h1 {
        font-size: 20px;
        margin-bottom: 32px;
    }

    #main-references .quote {
        font-size: 120px;
        line-height: 90px;
        width: 70px;
    }
    
    #main-references .main {
        width: calc(100% - 70px);
    }

    #main-references .indicator-container {
        height: 500px;
    }

    #main-references .author {
        font-size: 10px;
        margin-top: 28px;
    }
    
    #accomplishments-container {
        height: 360px;
        max-width: 390px;
    }
}

@media screen and (max-width: 600px) {

    #blog-posts .post h1 {
        font-size: 26px;
    }

    #blog-posts .post h2  {
        font-size: 10px;
        text-transform: uppercase;
        text-decoration: underline;
    }
    #blog-posts .post .footer {
        font-size: 10px;
        margin: 10px auto;
    }
}

@media screen and (max-width: 580px) {
    .about-us-full-width-button {
        padding-right: 10px;
        padding-left: 10px;
    }

    .about-us-full-width-button span.right-arrow {
        display: none;
    }
}

@media screen and (max-width: 570px) {

    #blog-post-body p,
    #blog-post-body em,
    #blog-post-body h2,
    #blog-post-body h3 {
        padding-left: 10%;
        padding-right: 10%;
    }
}

@media screen and (max-width: 540px) {
    .about-us-full-width-button span:not(:last-child) {
        line-height: 30px;
        display: block;
    }
}

@media screen and (max-width: 439px) {
    #main-references .quote {
        width: 100%;
        height: 66px;
    }
    
    #main-references {
        font-size: 12px;
    }
    
    #main-references .main {
        width: 100%;
        padding-left: 4px;
    }
    
    #accomplishments-container {
        height: 380px;
    }
    
    #footnotes {
        width: 100%;
        display: inline-block;
    }
    
    #copyright-notice {
        float: none;
        width: 100%;
        margin-top: 15px;
    }
}

@media screen and (max-width: 320px) {
    #video-overlay-h1 {
        font-size: 14px;
    }

    #video-overlay-video-btn{
        height: 40px;
        width: 40px;
    }
}
